.header-message-box
     height 45px
     background:  black
     position relative
     text-align: center
     display: none
     .message
          position absolute
          top 50%
          left 50%
          transform translate3d(-50%,-50%,0) 
          color white
          font-size: 13px
          margin 0px

.fadeInAnimation
     animation: fadeIn 1s forwards 

.fadeOutAnimation
     animation: fadeOut 1s forwards 


@media(max-width:767px) {
	.header-message-box{
		display block
	}
}

@keyframes fadeIn {
     0%{
          opacity 0
     }
     100%{
          opacity 1     
     }
}

@keyframes fadeOut {
     0%{
          opacity 1
     }
     100%{
          opacity 0     
     }
}