.toc h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 40px 0px;
    font-weight: 600;
}

.toc p {
    word-spacing: 1px;
    font-size: 17px;
}

.toc {
    margin-bottom: 100px;
}