@-webkit-keyframes autofill {
    to {
        color: black;
        background: white;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

// @font-face {
//     font-family: myFont;
//     src: url(/fonts/bbl.woff);
// }


h1,h2,h3,h4,h5,h6
    color black
    font-weight 100

// h1,h2,h3,h4,h5,h6,li,a,span,b,th
//     letter-spacing 1px
    
    /* For the "inset" look only */

/* Let's get this party started */


/* Change the white to any color ;) */

body{
    position relative
    right 0%
    transition right .2s ease
    font-family: 'Barlow Semi Condensed', sans-serif !important;
    }

.cover
    height 100%
    width 100%
    position fixed
    left 0px
    top 0px
    z-index 1400
    background-color rgba(black,.6)
    display block
    .select_coutry
        height 300px
        width 500px
        text-align center
        padding 20px
        border-radius 5px
        box-shadow 2px 2px 10px black
        background-color white
        position relative
        left 50%
        top 50%
        margin-left -250px
        margin-top -150px
        .underline
            height 4px  
            width 50px
            border-radius 2px
            position relative
            margin-top 20px
            margin-bottom 30px
            left 50%
            margin-left -25px
            background-color  black
        .india,.outer_india
            height 100px
            width 150px
            border-radius 5px
            display inline-block
            margin-left 20px
            margin-right 20px
            border 1px solid grey
            padding 20px