	
.mycart-index
	height 50px
	margin-top 50px
	border-bottom 1px solid grey
	

	h4
		color grey 
		margin 0px
		padding 0px
		line-height 48px
.mobile-cart
	.legend
		border-top 1px solid grey
		border-bottom 1px solid grey
		height 41px
		h4
			line-height 40px
			margin 0px
		:nth-child(1)
			width 70%
			float left
			text-align center
		:nth-child(2)
			width 30%	
			float left
			text-align center
	.cart-items
		:last-child
			border-bottom 0px !important
	.items
		height 117px
		overflow hidden
		border-bottom 1px solid rgba(grey,.5)
		.remove_product
			margin-top 5px
			margin-bottom 0px
		>div
			height 100%
			float left
			margin-top 5px
		.image-box
			width 25%
			img
				width 100%
				border-radius 5px
		.product-name
			width 45%
			padding-left 5px
			h4
				margin-top 0px
				font-size 14px
				margin-bottom 5px
				text-transform capitalize
		.product-price
			width 30%
			h4
				text-align center
		.quantity
			margin-top 5px
			transform-origin 0 0
			transform scale(0.7)
			p
				line-height 24px
		
.my_cart
	.disabled
		background-color grey !important
		.login_text
			display none
		&:hover
			.login_text
				display block
	.login_box_checkout
		.log-in-button,.sign-up-button
			width 300px
			height 50px
			display inline-block
			background-color #2396FB
			margin-top 10px
			border-radius 5px
			border 1px solid #2396FB
			overflow hidden
			transition .6s ease
			position relative
			outline none
			&:active
				outline 5px 
			h4
				color white
		.outer-box
			display inline-block
			position relative
			text-align center
		.alert_text
			text-align center
			color red
		.info_text
			color green
			text-align left
		
		label 
			height 30px
			margin-top 10px
			line-height 30px
			position absolute
			top 10px
			display inline
			left 10px
			color rgba(#232323,.4)
			transition .3s ease
		
		input,select
			height 50px
			width 400px
			border 1px solid rgba(black,.5)
			margin-top 10px
			padding-top 8px
			padding-left 10px
			background-color white
			border-radius 5px
			box-shadow none
			&:focus
				outline none
				border 1px solid #2396FB
			&:focus + label
				margin-top -0px
				font-size 10px
			&:valid + label
				margin-top -0px
				font-size 10px
			&:read-only + label
				margin-top -0px
				font-size 10px
		width 400px
		display inline-block
		.login-btn-fb,.login-btn-g
			width 100%
			text-align center
			p
				margin-left -25px
		.login-button
			border-radius 100px
			width 100%
			height 50px
			background-color #2396FB
			margin-top 20px
			text-align center
			color white
			outline none
			&:hover,&:active,&:focus
				color black
				background-color #2396FB
		#sign_up_text
			cursor pointer
		#login_form,#sign_up_form
			display none
		.outer-box
			margin-top 10px
		.log-in-button,.sign-up-button
			margin-top 10px
			float none
		.log-in-button
			width 100%
		#forgot_pass
			color #2396fb
		
.content-box
	text-align center
	height auto
	#mycart_shop
		padding 15px 25px
		border 1px solid grey
		margin-top 10px
		background-color #4997d0
		color black
		border-radius 5px
		position relative
		outline none
		margin-bottom 50px
		&::after
			content ''
			height 100%
			width 0%
			background-color rgba(blue,.2)
			position absolute
			top 0px
			left 50%
			transition .3s ease
			transform translate(-50%,0)
		&:hover
			&::after
				width 80%

.coupon_box
	height 50px
	>:nth-child(1)
		border-top 1px solid grey
	.row>div
		h4
			margin 0px
			line-height 50px

.mycart-content
	height 130px
	border-top 0px 
	width 100%
	display inline-block
	margin-bottom 5px	
	border-radius 5px
	a
		text-decoration none
	>div
		
		height 130px
	img
		height 100px
		width 100px
		margin-top 10px
		border-radius 5px
		float left
		margin-right 5px
	h4
		color rgba(red,.8)
		margin-top 15px
		text-transform capitalize
		color black
		text-align left
	h3
		.glyphicon
			top 26px !important
	.subtotal 
		text-align center
	.product-name
		text-align left
	.remove_product
		text-align left
		color grey
		width 100%
		
.coupon
	width 400px
	border-radius 5px
	height 50px
	border 1px solid rgba(#232323,.4)
	position relative
	overflow hidden
	label
		position absolute
		top 13px
		left 12px
		color grey
		transition .3s ease
	input
		margin-top 0px
		background-color transparent
		border 0px
		height 100%
		width 80%
		outline none
		padding 10px 0px 0px 13px 
		&:focus
			box-shadow none
		&:focus + label
			top 5px
			font-size 10px
		&:read-only + label
			top 5px
			font-size 10px
		&:valid + label
			top 5px
			font-size 10px
	button
		background-color transparent
		width 19%
		height 100%
		border-radius 5px
		transition .3s ease
		float right
		border 0px
		position relative
		&:hover
			background-color black
			h5
				color white
	span 
		position absolute
		line-height 50px
		right 4%
		cursor pointer

.mycart-total
	height 50px
	background-color white
	color black
	border-top 1px solid grey
	border-bottom 1px solid grey
	.total-price
		margin 0px
		line-height 50px
		font-size 18px
		color black
	a
		color black
		&:hover
			text-decoration none
	h4
		line-height 50px
		margin 0px
		color black
		display inline-block
		span
			border 2px solid black
			margin-left 5px
			border-radius 2px
			padding 5px
			transition .6s ease
		&:hover
			span
				color white
				background-color black
	
		
.checkout
	height 150px
	padding-top 50px
	margin-top 50px
	margin-bottom 100px
	.update-button,.checkout-button
		height 50px
		margin-left 5px
		background-color #4997d0
		float left
		border-radius 5px
		text-align center
		color white
		&:hover
			background-color black
			color white
		p
			font-size 20px
			line-height 48px
	.update-button
		width 180px
		float right
	.checkout-button
		width 250px
	
	.coupon-code
		height 30px
		width 180px
		border 1px solid black
		padding 10px
		border-radius 2px
	input
		float left
		
	.apply-coupon
		height	30px
		width 80px
		text-align center
		background-color white
		border 1px solid black
		float left
		margin-left 10px
		border-radius 2px
		&:hover
			background-color black
			h4
				color white
		h4
			margin 0px
			line-height 30px

.shipping
	height 100px
	background-color black


.quantity
	width 80px !important
	border-radius 20px
	background-color black
	height 25px !important
	background-color rgba(grey,.2) !important
	text-align center
	margin-top 15px
	border 0px !important
	display inline-block
	color black
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
	              supported by Chrome and Opera */
	.increase,.decrease
		height 25px
		cursor pointer
		width 25px
		border 0px !important
		border-radius 50%
		background-color rgba(black,.5)
		color rgba(white,1)
		padding 4px 3px
		margin-top 0px !important
	.increase
		float right
		
	.decrease
		float left
		
	p
		display inline
		font-size 18px
		color black !important
	
	


.add-to-wishlist
	transition .2s ease
	&:hover
		color blue
.remove-product-cart
	transition .2s ease
	color black
	&:hover
		color red	
		

@media  (max-width:1200px ) {
	.checkout .update-button{
		width 100%
	}
	.checkout .checkout-button{
		width 100%
	}
}

@media  (max-width:1000px ) {
	.coupon{
		width 100%
	}
	.checkout .update-button{
		width 100%
	}
	.checkout .checkout-button{
		width 100%
	}
}

@media  (max-width:770px ) {
	.breadcrumbs a{
		font-size 11px
		margin 0px 3px
	}
	.breadcrumbs span{
		font-size 12px
	}
	.p_image{
		height 70px !important
		width 70px !important
	}
	.mycart-total :nth-child(2) h4{
		font-size 18px
	}
	h4{
		font-size 16px
	}
	.total-price{
		font-size 18px
	}
	.checkout{
		margin-top 0px
		text-align center
	}
	.my_cart .coupon{
		margin-bottom 20px
	}
	.checkout .update-button{
		width 70%
		margin-bottom 10px
		display inline-block
		float none
	}
	.checkout .checkout-button{
		width 70%
		margin-bottom 10px
		display inline-block
		float none
	}
	.nocart_text{
		font-size 25px
	}
}

@media (max-width:460px) {
	.login_box_checkout .outer-box{
		width 100% !important
	}
	.login_box_checkout input{
		width 100% !important
	}
}

		