
.bottom-bar-padding
     padding-bottom 50px

.alert_div
     position fixed
     left 50%
     top -100
     width auto
     z-index 99000 
     .alert
          z-index 1000 
          position relative
          opacity 1
          left -50%
          text-transform capitalize
          margin-bottom 0px

.container-loader
     position fixed
     height 100%
     width 100%
     top 0px
     left 0px
     background-color rgba(black,0.5)
     z-index 5000

// .container-overflow-hidden
//      overflow hidden
//      height 100%

.container-loader-div
     height 100px
     width 100px
     position relative
     top 50%
     left 50%
     transform translate3d(-50%,-50%,0)

.black-overflow
     z-index 2000
     display block
     position fixed
     top 0px
     left 0px
     background-color rgba(black,.6)
     height 100%
     width 100%
     transition left 1s ease	

