.returns_refunds h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 40px 0px;
    font-weight: 600;
}

.returns_refunds p {
    word-spacing: 1px;
    font-size: 17px;
}

.returns_refunds {
    margin-bottom: 100px;
}

.return,.refund
	height 500px
	width 100%
	button
		border 1px solid black
		height 50px
		width 100px
		background-color white
		color black
		&:hover
			color white
			background-color black
	.img
		background-image url('/img/p1.jpg')
		background-position top center
		background-size cover
	>div
		width 50%
		float left
		height 100%
	.outer_div
		position relative
		.inner_div
			h1
				margin-top 0px
				font-size 60px
			h4
				font-size 17px
				letter-spacing 2px	
				color black
				font-weight 100
				line-height 1.4
			height 70%
			width 50%
			position absolute
			top 50%
			left 50%
			transform translate3D(-50%,-50%,0) 
.refund
	margin-bottom 100px
	.img
		background-image url('/img/p6.jpg')


@media (max-width:1200px){
	.return .inner_div,.refund .inner_div{
		width 70% !important
	} 
}

@media (max-width:990px){
	.return h1,.refund h1{
		font-size 50px !important
	}
	.return h4,.refund h4{
		font-size 15px !important
	}
}

@media (max-width:770px){
	.return h1,.refund h1{
		font-size 40px !important
	}
	.return h4,.refund h4{
		font-size 14px !important
	}
}


@media (max-width:570px){
	.return ,.refund{
		height 700px
		border-bottom 1px solid grey
	}
	.return div,.refund div{
		height 70%
		width 100% !important
	}
	.return .img,.refund .img{
		height 30%
		width 100% !important
	}
	
}

