.space
	height 100px

.from-up-animation
	animation from-up-animation 5s ease

.navbar-default
	transition all .4s ease
	border-color 2px solid black
	background-color rgba(white,1)
	box-shadow 2px 0 8px grey
	
.toggle_button_icon
	height 34px
	width: 34px	

.navbar-brand {
  padding: 0px;
}

.info-box
	height 30px
	width 100%
	display none
	background-color black
	text-align center
	color white
	justify-content center
	align-items center
	overflow hidden
	p
		font-size 15px
		margin 0px
	.info-box-inner
		width 200%
		display flex
		flex-direction row
		transition .6s ease
		animation sliderAnimation 20s infinite
		>div
			width 50%	
			float left
.rotating-info
	border-top 1px solid grey
	text-align center
	position relative
	top 50px
	padding 5px 0px
	p
		margin 0px	

.notifications
	z-index 5000
	position fixed
	height 70px
	width 300px
	overflow hidden
	border-radius 5px
	background-color #4b87c8
	bottom -70px
	left 50%
	padding 5px 
	transition .6s ease
	margin-left -150px
	.button
		position absolute
		top 45px
		height 30px
		padding 0px 10px
		border-radius 5px
		left 50%
		transform translateX(-50%)
		background-color white
		text-align center
		p
			color black
			line-height 28px
			margin 0px
			
	span
		position absolute 
		right 1px
		color white
		top 1px
		display inline-block
	>div
		position relative
		height 100%
		width 100%
	p
		margin 0px
		color white
	.icon
		width 50px
		left 0px
	.info
		left 50px
		padding-right 5px
		overflow hidden
	>div
		>div
			height 50px
			margin-top 10px
			position absolute
			top 0px
	img
		height 40px
		display inline-block
.l-height 
	height 100px !important
.notifications-display
	bottom 10px
.push-notification
	position fixed
	bottom 300px
	left 10px
	z-index 500
	>div
		padding 10px
		border-radius 5px
		background-color white
		width 250px
		overflow auto
		border 1px solid grey
		box-shadow 1px 1px 2px black
		img
			width 20%
			border-radius 50%
			display inline-block
			vertical-align bottom
			float left
		p
			display inline-block
			width 80%
			float left
			margin 0px
			padding-left 10px
			


.login-overlay
	position fixed
	height 100%
	width 100%
	top 0px
	left 0px
	transition .6s ease .5s
	display hidden
	background-color transparent
	z-index 5000
	>div
		position relative
		height 550px
		width 90%
		border-radius 2px
		left 50%
		top 150%
		transition 1s ease
		transform translate3d(-50%,-50%,0)
		-moz-perspective 800px
		-webkit-perspective 800px
		>div
			position absolute
			top 0px
			left 0px
			>span
				position absolute
				top 10px
				right 10px
				z-index 500
	.order-detail
		padding 20px 10px
		background-color white
		text-align center
		backface-visibility hidden
		transition 1s ease
		width 100%
		height 100%
		overflow auto
		transform-style preserve-3d
		h3
			margin 10px 0px 30px 0px
			font-weight 900
		h4
			font-weight 100
			color grey
			display inline-block
			width 100%
			text-align center
			// background-color rgba(firebrick,.8) 
			top -11px
			margin 0px
			margin-bottom 10px
			// text-transform uppercase
			// text-decoration underline
			padding 5px
		.cart-total
			border-top 1px solid rgba(grey,.5)
			// border-bottom 1px solid rgba(grey,.5)
			width 80%
			overflow auto
			display inline-block
			text-align center
			>:first-child
				text-align left
				padding-left 5px
			>:last-child
				text-align right
				padding-right 5px
				h6
					font-weight 900
			>div
				width 50% !important
				float left
				background-color white
				height auto !important
				border 0px
		.pinfo,.ainfo
			padding-bottom 10px
			padding-top 0px
			margin-bottom 20px
			text-align center
			background-color white
			// box-shadow 0 1px 6px rgba(32, 33, 36, 0.28)
			// border 1px solid rgba(firebrick,.8) 
			border-radius 5px
			overflow hidden
			h4
				font-weight 100
				color grey
				display inline-block
				width 100%
				text-align center
				// background-color rgba(firebrick,.8) 
				top -11px
				margin 0px
				margin-bottom 10px
				// text-transform uppercase
				// text-decoration underline
				padding 5px
			h5
				margin 0px
				margin-bottom 5px
				font-weight 900
				// margin-left 20px
				border-bottom 2px solid rgba(#3498db,.8)
				background-color rgba(#3498db,.1)
				padding 10px
				width 80%
				text-align left
				display inline-block
				border-radius 5px
				border-bottom-left-radius 0px
				border-bottom-right-radius 0px
				span
					font-weight 100
					width 55px
					display inline-block
	.checkout-outer
		padding 20px 10px
		background-color white
		text-align center
		backface-visibility hidden
		transition 1s ease
		width 100%
		transform-style preserve-3d
		height 500px
		overflow auto
		transform rotateY(180deg)
		input[readonly=true]
			width 45%
			margin-left 0px
		.city-state
			height 0px
			display block
			transition .6s ease
		.cart-total
			border-top 1px solid rgba(grey,.5)
			// border-bottom 1px solid rgba(grey,.5)
			margin-top 20px
			width 90%
			overflow auto
			text-align center
			margin-left 15px
			h6
				font-size 14px
			>:first-child
				text-align left
				padding-left 5px
			>:last-child
				text-align right
				padding-right 5px
				h6
					font-weight 900
			>div
				width 50% !important
				float left
				background-color white
				height auto !important
				border 0px
		h3
			margin 10px 0px 30px 0px
			font-weight 900
		h4
			margin 0px 0px 20px 0px
			font-weight 900
		>div
			input
				width 90%
				display inline-block
				height 50px
				border 1px solid #ecf0f1
				background-color #ecf0f1
				border-radius 2px
				margin-bottom 10px
				padding 5px
				text-align center
				outline none
				font-weight 900
				&::-webkit-input-placeholder
					text-align center	
					font-weight 900
		button
			border 1px solid #3498db
			background-color #3498db
			color white
			width 90%
			height 45px
			margin-top 30px
			border-radius 5px
			font-weight 900
			letter-spacing 1px
		.order-type
			text-align center
			.selected
				background-color #3498db
				color white
				border-color #3498db
			>div
				width 30%
				height 40px
				transition .6s ease
				line-height 36px
				font-weight 900
				border 2px solid #ecf0f1
				color grey
				border-radius 5px
				display inline-block
				margin-left 4px
			
	.cart-outer
		padding 20px 10px
		background-color white
		text-align center
		backface-visibility hidden
		transition 1s ease
		z-index 500
		width 100%
		transform-style preserve-3d
		button
			border 1px solid #f7941e
			background-color #f7941e
			color white
			width 90%
			height 40px
			margin-top 30px
			border-radius 5px
			font-weight 900
			letter-spacing 1px
		>:last-child
			margin-top 10px
			border 1px solid #3498db
			background-color #3498db
		.cart-total
			border-top 1px solid rgba(grey,.5)
			// border-bottom 1px solid rgba(grey,.5)
			margin-top 20px
			width 90%
			overflow auto
			text-align center
			margin-left 15px
			>:first-child
				text-align left
				padding-left 5px
			>:last-child
				text-align right
				padding-right 5px
				h6
					font-weight 900
			>div
				width 50% !important
				float left
				background-color white
				height auto !important
				border 0px
		h3
			margin 10px 0px 30px 0px
			font-weight 900
		>div
			.lower-item
				margin-top -2px
			>span
				display inline-block
				width 90%
				height 25px
				line-height 25px
				color grey
				background-color rgba(grey,.2)
				span
					position absolute
					right 5px
			.cart-items
				height 100px
				width 100%
				overflow hidden
				>span
					display block
					transform translateY(0px)
					transition .6s ease				
			.cart-item
				width 90%
				display inline-block
				position relative
				height 100px
				border 1px solid #ecf0f1
				background-color #ecf0f1
				border-radius 2px
				text-align left
				outline none
				font-weight 900
				>div
					padding-top 10px
				>img
					height 100%
					margin-right 10px
					float left
				>div>h5
					margin 2px
					font-size 12px
					font-weight 900
					>span
						font-weight 100
						width 30px
						text-align right
						display inline-block
				span
					color grey
				.remove-cart-item
					position absolute 
					right 0px
					color rgba(red,.5)
					bottom 0px
					padding 0px 10px
					line-height 25px
					border 1px solid rgba(grey,.2)
					background-color rgba(grey,.2)
					margin 0px
					font-weight 100
					font-size 12px
	.login-outer,.signup-outer
		padding 20px 10px
		background-color white
		text-align center
		width 100%
		backface-visibility hidden
		transition 1s ease
		transform-style preserve-3d
		
		h3
			margin 10px 0px 30px 0px
			font-weight 900	
		>div
			input
				width 90%
				display inline-block
				height 50px
				border 1px solid #ecf0f1
				background-color #ecf0f1 !important
				border-radius 2px
				margin-bottom 10px
				padding 5px
				text-align center
				outline none
				font-weight 900
				&::-webkit-input-placeholder
					text-align center	
					font-weight 900
			button[type=submit]
				margin-bottom 10px
			button
				width 90%
				display inline-block
				height 50px
				border 1px solid #3498db
				background-color #3498db
				color white
				border-radius 2px
				font-weight 900
			>div
				margin-top 50px
				.google-bar
					background-color #eb4132
				.fb-bar
					background-color #3b579d
					img 
						margin-left -10px
						margin-top -2px
				>div
					width 90%
					display inline-block
					height 50px
					border 1px solid transparent
					background-color #3498db
					color white
					font-weight 900
					margin-bottom 10px
					border-radius 2px
					padding 1px
					p
						display inline-block
						margin 0px
						line-height 47px
						font-size 17px
						font-weight 100
					>div
						height 100%
						width 48px
						float left
						border-radius 2px
						background-color white
						display inline-block
						padding 9px 
						img
							width 100%
	.signup-outer
		transform rotateY(180deg)
	.rotate-card
		.login-outer,.cart-outer
			transform rotateY(180deg)
		.signup-outer,.checkout-outer
			transform rotateY(360deg)		
.overlay-show
	background-color rgba(black,.7)
	transition .6s ease
	>div
		top 50% !important
		transition 1s ease .5s
	
.email_verify
	width 100%
	height auto
	padding-bottom 10px
	padding-top 10px
	background-color white
	color black
	transition .6s ease
	text-align center
	z-index 1200
	border 1px solid black
	overflow hidden
	p
		display inline-block
		margin-top 8px
	span
		float right
		line-height 35px
		margin-right 20px
		cursor pointer
		display none
	button
		background-color white
		margin-bottom 7px
		margin-top 0px
		color black
		width 100px
		height 28px
		border 1px solid grey
		transition .6s ease 
		border-radius 5px
		&:hover
			background-color black
			color white
.sublist
	display none
	ul
		li
			width 60px
			height 25px
			margin-top 5px
		:nth-child(5)
			width 80px
	
.toggle_button
	position absolute
	height 40px
	width 45px
	border-radius 5px 
	z-index 1200
	background-color white
	top 49px
	left 4px
	text-align center
	padding 5px
	display none
	&:nth-child(2)
		top 16px
	&:nth-child(3)
		top 28px
	
	span
		width 80%
		left 4px
		display inline-block
		margin-top 5px
		height 1px
		position absolute
		background-color black
		transition .4s ease
		border-radius 5px
		transform-origin 50%
	:nth-child(2)
		&:before
			content ''
			height 100%
			width 100%
			top 0px 
			left 0px
			background-color black
			transition .4s ease
			z-index 500
			position absolute
			
.toggle_button_click
	:nth-child(2)
			width 60%
			transform rotate(-45deg)
			&:before
				transform rotate(90deg)
			
		:nth-child(3),:nth-child(1)
			opacity 0
	
.body_sidebar
	position fixed
	
.black_color_div
	position fixed
	top 50px
	left 0px
	width 100%
	height 100%
	z-index 1000
	display none
	transition all .7s ease .4s , top 1ms

.black_color_div_color
	transition .7s ease
	background-color rgba(black,.8)
	
.black_color_div_color_height
	top 0px !important 

.black_overflow_side
	position relative
	transform translate3d(70%,0,0)
	transition 1s ease

.black_overflow_side_right
	position relative
	transform translate3d(-70%,0,0)
	transition 1s ease

.shop_by_type,.sidebar_accounts,.shop_by_collection
	a
		background-color black !important
		color white !important
	>:first-child
		background-color transparent  !important
		color black !important

.forward
	animation forward .4s ease forwards
@keyframes forward {
	0%{
	margin-left:-100px
	opacity 0}
	100%{
	margin-left:0px
	opacity 1}
}

@keyframes from-up-animation {
	0%{
		top:-100px
		opacity 0
	}
	10%{
		top:60px
		opacity 1
	}
	90%{
		top:60px
		opacity 1
	}
	100%{
		top:-100px
		opacity 0
	}
}

	
.black
	position absolute
	top 0px 
	left 0px
	height 1000%
	width 100%
	z-index 1200
	// background-color rgba(black,.4)







@keyframes header_sidebar {
	0%{
		opacity 1;
		margin-left -5px;
	}
	100%{
		opacity 1;
		margin-left 0;
	}
}
			

.cart_number
	position relative
	font-7ize 14px
	top -6px
	color black
	border-radius 20px
	padding 1px 6px
	left -24px

.logo
	width 130px
	display inline-block
	margin-top 4px
	padding 0px
	

.logo-div
	width 40%
	height 100%	
	float left


.activation_mail
	z-index 1000 
	position relative
	opacity .9
	left -50%
	padding 10px
	border-radius 5px
	border 1px solid grey
	background-color white
	top 90px
	
.navbar-collapse
	float right

.nav-list
	background-color transparent !important
	margin-top 20px
	height 60px
	
	.pointer
		cursor default
	.glyphicon-shopping-cart
		font-size 20px
		display inline

	.bag_icon
		height 30px
		width 30px
		margin-top -5px
		margin-left 14px
		display inline-block
		background-image url("/img/bag.png")
		background-size cover
	>li
		display inline
		margin-right 2px
		height 50px
		transition color .6s ease
		width 108px
		text-align center
		position relative
		&:after,&:before
			content ''
			position absolute
			height 10px
			width 10px
			transition .3s ease
			opacity 0
		&:after
			top 10px
			left 10px
			border-top 2px solid black
			border-left 2px solid black
		&:before
			bottom 10px
			border-bottom 2px solid black
			border-right 2px solid black
			right 10px
		&:hover
			&:after
				top 5px
				left 5px
				opacity 1
			&:before
				right 5px
				bottom 5px
				opacity 1
		a
			&:hover
				color #009688
				text-decoration none 
					
		p
			transition all .6s ease
			overflow hidden
			height auto
		a
			color black	!important
	


#sidebar_cart
	height 30px
	width 30px
	position absolute
	top 53px
	right 10px
	cursor pointer
	display none 
	background-image url("/img/bag.png")
	background-size cover
	>div
		height 100%
		width 100%
		position relative
	.cart_number
		top 50%
		position absolute
		left 50%
		font-size 13px
		display block
		margin-top 3px
		transform translate3d(-50%,-50%,0)



@media(max-width:990px) {
    .nav-list{
    	margin-top -20px
    }
    .topnav .row{
    	margin-top 30px
    }
    .logo{
    	margin-top -21px
    	margin-left 45px
    }
}


@media(max-width:767px) {
	.space{
		height 80px
	}
	.info-box{
		display block
	}
	.push-notification{
		left 50%
		transform translateX(-50%);
		bottom 20px
	}
	
	
	#sidebar_cart{
		display block
	}
	.topbar{
		display none
	}
    .logo{
    	position absolute
    	top 0px
    	left 10px
    	width 88px
    	margin-top 0px
    	margin-left 0px
    	
    }
    .navbar-brand{
    	position relative
    	left 50%
    	margin-left -50px
    }
    .topnav .row{
    	margin-top 0px
    }
    #navbar-default{
    	border-bottom 1px solid black !important
    	
    }
    .toggle_button,.header_sidebar{
    	display block
    }

    .nav-list{
    	height 280px
    	margin-top 0px
    }
    .navbar-default{
    	background-color white !important
    }
    .sublist{
    	display block
    }
    .sublist ul li{
		display block
    }
    .dropdown:hover ul{
    	display none !important
    }
	.sublist ul li{
			
		}
	.nav-list li:hover p{
		transform translateY(0px) !important
	}
}

@media(max-width:550px){
	
}
@media(max-width:470px){
	.navbar-toggle{
		position absolute
		right 0px
	}
	
}
@media(max-width:390px){

	.topbar {
		overflow hidden
	}
}

		

	
.nav-list
	:nth-child(1),#myAccountButton
		ul
			width 120px
			background-color white
			position absolute
			display none
			text-align center
			padding 0px
			left -4px
			z-index 800
			border-radius 5px
			overflow hidden
			box-shadow 1px 1px 5px black
			li
				text-transform capitalize
				display block
				background-color rgba(white,1)
				overflow hidden
				border-bottom 1px solid black
				padding 4px 0px
				line-height 45px !important
				transition none
				a
					color black
					&:hover
						color white !important
				&:hover
					text-decoration none
					background-color black
					a
						color white !important
			hr
				height 1px
		#myAccountButton
			ul
				left 0px
	:nth-child(2)
		ul
			margin-left -25px
	#myAccountButton			
		ul
			margin-left -1px
					  		
.dropdown:hover ul
	display block
#myAccountButton:hover ul
	display block
.dropdown 
	ul
		li
			position relative
			&:hover
				color yellow
			a
				transition left .6s ease
				
				div
					height 100%
					width 100%
					top 0%
					opacity 0
					z-index 2
					position absolute
					left 0
				


.dropdown ul li:hover div 
	opacity 1




.fetch_cart
	cursor pointer

.topbar
	width 100%
	height 20px
	background-color black
	.helpbar
		ul
			li
				display inline
				color white
				position relative
				float right
				margin-left 20px
				a
					transition .3s ease
					color white
					&:hover
						text-decoration none
						color rgba(red,.8)
			:nth-child(1)
				float left
				
.search_box
	height auto
	padding-bottom 10px
	width 350px
	background-color white
	position fixed
	z-index 500
	right -400px
	border-radius 5px
	box-shadow 2px 2px 5px black
	top 100px	
	text-align center
	transition .6s ease
	&:hover
		right 0px !important
	input
		display inline-block
		margin-top 20px
		width 30%
		border-radius 15px
		border 1px solid grey
		height 30px
		transition .6s ease
		padding-left  30px
		background-image url(/img/search.png)
		background-size 18px 18px
		background-position 5px 5px
		background-repeat no-repeat
		&:focus
			outline 0px
			width 80%
		&:valid
			width 80%
	.search_results
		height auto
		width 90%
		display inline-block
		padding 5px
		margin-top 10px
		border-radius 5px
		max-height 200px
		overflow-y auto
		
		.result
			height 80px
			width 100%
			background-color rgba(grey,.1)
			border-radius 5px
			padding 5px
			margin-bottom 10px
			border 1px solid grey
			img
				height 70px
				border-radius 5px
				float left
				margin-right 10px
			h4
				text-align left
.chat_box
	height auto
	width 300px
	display block
	box-shadow 2px 2px 5px black
	position fixed
	right 100px
	bottom 100px
	border-radius 5px
	z-index 400
	.chat_header
		height 50px
		width 100%
		font-size 28px
		line-height 50px
		text-align center
		background-color #F44336
		border-top-right-radius 5px
		border-top-left-radius 5px
	.messages
		width 100%
		height 400px
		padding 10px
		background-color white
		border 1px solid grey
		overflow-y auto
		h5
			text-align center
			color grey
			
		.message
			display inline-block
			width 100%
			height auto
			margin-bottom 5px
			p
				float right
				color black
				background-color rgba(grey,.4)
				width auto
				max-width 125px
				height auto
				display block
				padding 5px 10px
				margin 0px
				overflow hidden
				border-radius 20px
				
			#admin
				float left
				background-color white
	.textarea
		width 100%
		height 50px
		border-bottom-right-radius 5px
		border-bottom-left-radius 5px
		border 1px solid grey 
		padding 5px
		&:focus
			outline 0px
			
.message_icon
	height 60px
	width 60px
	text-align center
	position fixed
	bottom 10px
	right 10px
	z-index 400
	border-radius 50%
	.front
		height 100%
		width 100%
		position absolute
		box-shadow 2px 2px 5px black
		border-radius 50%
		display block
		background-color #F44336
		transition .6s ease
		backface-visibility hidden	

			
		span
			color white
			font-size 25px
			line-height 55px
			z-index 300
		
	.back
		height 100%
		width 100%
		position absolute
		box-shadow 2px 2px 5px black
		background-color #F44336
		border-radius 50%
		transform rotateY(180deg)
		backface-visibility hidden
		transition .6s ease
		div
			width 30px
			height 2px
			background-color white
			position absolute
			top 30px
			left 15px
		:nth-child(1)
			transform rotate(45deg)
		:nth-child(2)
			transform rotate(-45deg)
		
			
		
		

		
.leave_message
	position fixed
	bottom 100px
	right -400px	
	height 500px
	width 350px
	overflow hidden
	text-align center
	z-index 400
	background-color white
	border-radius 5px
	transition .6s ease
	box-shadow 2px 2px 10px black	
	color black
	.outline
		height 40px
		z-index 300
		width 100%
		background-color #F44336
		color white
		line-height 40px
		font-size 20px
		border-radius 5px
		border-bottom-left-radius 0px
		border-bottom-right-radius 0px
		text-align center
		margin-bottom 5px
	input,textarea
		height 40px
		border 1px solid grey
		background-color white
		width 95%
		padding 5px
		margin 5px	
		border-radius 5px
		&:focus
			outline 0px
	textarea
	    height 204px
		max-height 204px
		max-width 95%
	button
		height 40px
		width 100%
		background-color #F44336
		color white
		border-radius 5px
		font-size 20px
		border-top-left-radius 0px
		border-top-right-radius 0px
		border 1px solid grey
		display inline-block
		


@keyframes sliderAnimation
	0%
		margin-left 0px
	49%
		margin-left 0px
	50%
		margin-left -100%
	99%
		margin-left -100%
	100%
		margin-left 0px     