     
     .pay-with-paytm {
          padding-bottom: 100px;
          padding-top: 20px;
        }

        .pay-with-paytm .number {
          padding: 10px 20px;
          border: 1px solid grey;
          border-radius: 5px;
          background-color: black;
          display: inline-block;
          margin-top: 15px;
        }

        .pay-with-paytm p {
          margin: 0;
          font-size: 20px;
          letter-spacing: 1px;
          color: white;
        }

        .pay-with-paytm h3 {
          margin-bottom: 50px;
        }

        .pay-with-paytm h3 img {
          display: inline;
          height: 30px;
          margin-top: -10px;
        }

        .pay-with-paytm h6 {
          border-radius: 5px;
          padding: 10px 20px;
          display: inline-block;
          background-color: lightblue;
        }

        .pay-with-paytm .copy {
          margin-bottom: 50px;
        }