.order-info-list
	list-style-type none
	padding 0px
	width 180px
	border-radius 5px
	padding 2%
	a
		&:hover
			text-decoration none !important
	li
		font-size 15px
		height 40px
		padding 5%
		width 80%
		color  #e15119
		margin-top 5px 
		border-radius 5px
		&:hover
			background-color rgba(grey,.2)
			
	.active-order
		background-color white !important
		color black

.orders
	h1
		margin-top 20px
		margin-bottom 40px
.orders-info
	border 1px solid grey
	border-radius 5px
	height auto
	overflow-y auto
	padding-bottom 10px
	margin-bottom 100px
	position relative
	table
		#legend_row
			cursor default
			border 0px
			&:hover
				background-color white 
		tr
			text-align center
			cursor pointer
			margin-top 10px
			border-bottom 1px solid rgba(grey,.5)	
			&:hover
				background-color rgba(blue,.1)
				.total-info
					background-color rgba(blue,.1)
		
			th
				text-align center
				width 300px
				height 50px
				border-bottom 1px solid rgba(grey,.5)
				
			td
				height 100px
				position relative
				text-transform capitalize
				
				img
					height 70px
					width 70px
					border-radius 50%
					margin-left 10px
					margin-right 10px
					float left
				.more-details
					height 30px
					width 100px
					display inline-block
					border 1px solid rgba(grey,.5)
					border-radius 5px
					font-size 12px
					float right
					line-height 25px
					cursor pointer
					box-shadow 1px 1px 3px black
					margin-bottom 5px
					&:hover
						
						box-shadow 1px 1px 5px black
					span
						position relative
						top 2px
						left 4px
						
.more-details-box
	height 80px
	width 100px
	position relative
	overflow hidden
	left 10px
	float left
	font-size 12px
	text-align left
	transition all .6s ease
	:nth-child(2)
		float left
	p
		height 20px
		width 100px
.order-details-color 
	height 20px
	width 20px
	margin-left 40px
	border-radius 50%
	margin-top -2px
			



.more-detail-box-height
	height 100px !important




.total-info
	background-color white
	color black
	&:hover 
		.total-info-box
			display block

.order-image-enlarge
	height 300px
	width 300px
	position absolute
	left 70px
	top 0px
	background-color black
	background-size contain
	display none
	border-radius 5px
	z-index 600
	&:hover
		display block
.show
	display block
	

.total-info-box
	box-shadow 1px 1px 5px rgba(grey,.5)
	height auto
	width 230px
	position absolute
	right 75px
	top 0px
	background-color white
	border-radius 5px
	display none
	z-index 400
	border 1px solid rgba(grey,.5)
	padding 10px
	overflow hidden
	&:hover
		display block
	h3
		margin 0px
		


.order-total-table
	margin-top 20px
	width 100%
	tr
		text-align left !important
		border-bottom 0px !important
		:last-child
			text-align right
		td
			height 40px !important
	#TOTALprice
		border-top 1px solid grey
		:last-child
			color red
		

.order-image-box:hover .order-image-enlarge
	display block 