
.sidecart
	width 30%
	height 100%
	background-color white
	text-align center
	position fixed
	box-shadow 2px 2px 5px black
	transform translateX(100%)
	transition .4s ease
	top 0px
	right 0px
	z-index 2005
	overflow-y auto
	&:hover
		right 0px !important
	a
		&:hover
			text-decoration none
	.heading
		width 100%
		background-color black
		color white
		height 50px !important
		padding 10px 0px 0px 0px 
		h3
			margin-top 2px
			color white
			&:hover
				text-decoration underline
	.sidecart-content
		position relative
		padding 10px 0px 0px 10px
		height 150px
		overflow hidden
		transition .3s ease
		border-bottom 1px solid rgba(grey,.4)
		text-align left			
		img
			height 100px
			width 100px
			float left
			border-radius 50%
			margin-right 10px
		h4
			color black
		h5
			color black
		.remove-product
			cursor pointer
			position absolute
			color black
			margin 10px
			right 0px			
	.sidecart-content-box
		overflow-y auto !important
		height auto
	.sidecart-total
		height auto
		width 100%
		background-color white
		left 0px
		>:first-child
			background-color white
			border-top 1px solid grey
			h3
				text-decoration none !important
			:first-child
				color black
				float left
				margin-left 10px
			:last-child
				float right
				margin-right 10px				
				
		h4
			line-height 30px
			font-size 20px
			color black
	.viewall
		height auto		
		width 100%
		border-top 3px solid black
		background-color white
		h5
			font-size 18px

.sidecart_view
	transform translateX(0%)
	
.sidecart_body_left
	position relative 
	right 30%
	overflow hidden
	
.sidecart_topbar_left
	transform translateX(-30%)

@media(max-width:767px) {
	.sidecart {
		display none
	}
}