.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-plus:before {
    content: '\f067';
}
a {
    background-color: transparent;
}
a:active,
a:hover {
    outline: 0;
}
@media print {
    *,
    :after,
    :before {
        color: #000 !important;
        text-shadow: none !important;
        background: 0 0 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: ' (' attr(href) ')';
    }
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a:focus,
a:hover {
    color: #23527c;
    text-decoration: underline;
}
a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
/* CSS Used from: Embedded */
.header_sidebar .submenu {
    font-size: 13px;
    border: 0px;
}
.header_sidebar .submenu span {
    margin-left: 25px;
    display: block;
    width: 80%;
}
.header_sidebar .region-outside {
    border: 2px solid #000;
}
.shop_by_type a,
.shop_by_collection a {
    background-color: #000 !important;
    color: #fff !important;
}
.shop_by_type > :first-child,
.shop_by_collection > :first-child {
    background-color: transparent !important;
    color: #000 !important;
}
.header_sidebar {
    height: 100%;
    width: 70%;
    background-color: #fafafa;
    position: fixed;
    left: -70%;
    top: 0px;
    opacity: 1;
    z-index: 2005;
    transition: 0.5s ease;
    text-align: left;
    overflow-y: auto;
    display: none;
}


.height_auto_type
	height 225px !important
	:nth-child(2)	
		span
			border-top 0px
.height_auto
	height 182px !important
	:nth-child(2)	
		span
			border-top 0px
.height_auto_collection
	height 270px !important
	:nth-child(2)
		span
			border-top 0px

.header_sidebar_open
     left 0%

.header_sidebar a {
    text-transform: uppercase;
}
.header_sidebar a span {
    margin-left: 15px;
}
.header_sidebar > div {
    width: 100%;
    font-size: 16px;
    line-height: 45px;
    height: 45px;
    overflow: hidden;
    display: inline-block;
    color: #000;
    text-decoration: none;
    transition: 0.3s ease;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    position: relative;
}
.header_sidebar > div :nth-child(2) {
    margin-left: -100px;
    opacity: 0;
    animation-delay: 0s;
}
.header_sidebar > div :nth-child(3) {
    margin-left: -100px;
    opacity: 0;
    animation-delay: 0.1s;
}
.header_sidebar > div :nth-child(4) {
    margin-left: -100px;
    opacity: 0;
    animation-delay: 0.2s;
}
.header_sidebar > div :nth-child(5) {
    margin-left: -100px;
    opacity: 0;
    animation-delay: 0.3s;
}
.header_sidebar > div :nth-child(6) {
    margin-left: -100px;
    opacity: 0;
    animation-delay: 0.4s;
}
.header_sidebar > div :nth-child(7) {
    margin-left: -100px;
    opacity: 0;
    animation-delay: 0.5s;
    border-bottom: 0px;
}
.header_sidebar > div :first-child {
    background-color: transparent;
    cursor: pointer;
}
.header_sidebar > div :first-child i {
    position: absolute;
    right: 10px;
    top: 15px;
}
.header_sidebar > div a {
    background-color: rgba(128, 128, 128, 0.1);
}
.header_sidebar a {
    width: 100%;
    font-size: 16px;
    line-height: 45px;
    height: 45px;
    display: inline-block;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}
@media (max-width: 767px) {
    .header_sidebar {
        display: block;
    }
}
