button
     width 100%
     background-color: #2091EB
     border 1px solid transparent
     padding: 10px 0px
     border-radius: 5px
     outline: none
     .button-text
          margin 0px
          color white

.payment-option
     display flex
     align-items: center
     justify-content: space-between
     padding: 10px 10px
     background-color: #DDDDDD
     margin-bottom: 20px
     img
          width 30px
     p
          color #898989

.selected
     border 1px solid #DDDDDD
     background-color: white
     p
          color black
          font-weight: bold
     .checked-image
          width 20px