.footer
	height auto
	text-align left	
	background-color black
	span 
		color white
		font-size 10px
		position relative 
		top 0px
.inner-footer
	height 200px
	margin-top 25px
	ul
		list-style-type none
		h3
			color white
		
		li
			font-size 1.6rem
			a
				color white
			:hover
				color rgba(red,.5)
				text-decoration none

.footer-logo
	width 150px
	margin-top 20px

.footer-logo-bottom
	width 60%
	margin-top 4px
	
.line
	height 2px
	width 20px
	background-color rgba(white,1)
	border-radius 2px
	
.end-footer {
  height: 100px;
  text-align: center;
  border-top 1px solid rgba(grey,.3)
}
.end-footer div {
  height: 30px;
  width: 120px;
  display: inline-block;
  margin-top: 20px;
}
.end-footer div img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  float: left;
}
.end-footer h5 {
  margin-top: 30px;
}

@media(max-width:770px){
	.footer{
		overflow hidden
	}
	.footer >:first-child{
		width 100%
		text-align center
		padding-top 10px
	}
		
	.footer >:first-child h3{
		display inline-block
		margin 0px
		transform translateY(3px)
	}


	.footer >:last-child{
		width 100%
		text-align center
		position relative
	}	
	.footer >:last-child a{
		color black
	}
	
	.footer >div{
		height 60px
	}
	.footer-logo{
		height 100%
		width auto
		margin-top 4px
		display inline-block
		margin-right 10px
	}
	.footer p{
		margin-top 0px
		line-height 60px
		display inline-block
		width 30%
		color white
		font-size 16px
	}
	.end-footer div img{
		transform scale(0.8)
	}
	.end-footer h5{
		margin-top 0px
	}
}
		