.order_detail_box
	text-align center
	padding-bottom 100px
	background-color rgba(#f3f7f8,1)
	h5
		font-size 16px
	h2
		margin-bottom 40px
	.return_status_box
		height 100%
		width 100%
		position fixed
		top 0px
		left 0px
		z-index 5000
		background-color rgba(black,.5)
		display none
		>div
			text-align left
			height auto
			width 500px
			max-height 500px
			position relative
			left 50%
			top 50%
			transform translate3d(-50%,-50%,0)
			background-color white
			border-radius 5px
			box-shadow 1px 1px 5px rgba(#232323,.2)
			padding 20px
			overflow hidden
			h5
				border-right 0px 
				display block
				text-align left
				float none
				padding 0px	
				span
					color grey
					display inline-block
			h3
				margin-top 0px
			>span
					position absolute
					right 10px 
					top 10px
					cursor pointer
			/** Colors **/
			ol.progress-track {
			  display: table;
			  list-style-type: none;
			  margin: 0;
			  padding: 2em 1em;
			  table-layout: fixed;
			  width: 100%;
			}
			ol.progress-track li {
			  display: table-cell;
			  line-height: 3em;
			  position: relative;
			  text-align: center;
			}
			ol.progress-track li .icon-wrap {
			  border-radius: 50%;
			  top: -1.5em;
			  color: #fff;
			  display: block;
			  height: 2.5em;
			  margin: 0 auto -2em;
			  left: 0;
			  right: 0;
			  position: absolute;
			  width: 2.5em;
			}
			ol.progress-track li .icon-check-mark,
			ol.progress-track li .icon-down-arrow {
			  height: 25px;
			  width: 15px;
			  display: inline-block;
			  fill: currentColor;
			}
			ol.progress-track li .progress-text {
			  position: relative;
			  top: 10px;
			}
			ol.progress-track li.progress-done {
			  border-top: 7px solid #87ba51;
			  transition: border-color 1s ease-in-out;
			  -webkit-transition: border-color 1s ease-in-out;
			  -moz-transition: border-color 1s ease-in-out;
			}
			ol.progress-track li.progress-done .icon-down-arrow {
			  display: none;
			}
			ol.progress-track li.progress-done.progress-current .icon-wrap {
			  background-color: #0070c0;
			}
			ol.progress-track li.progress-done.progress-current .icon-wrap .icon-check-mark {
			  display: none;
			}
			ol.progress-track li.progress-done.progress-current .icon-wrap .icon-down-arrow {
			  display: block;
			}
			ol.progress-track li.progress-done .icon-wrap {
			  background-color: #4a6a28;
			  border: 5px solid #87ba51;
			}
			ol.progress-track li.progress-todo {
			  border-top: 7px solid #DDD;
			  color: black;
			}
			ol.progress-track li.progress-todo .icon-wrap {
			  background-color: #FFF;
			  border: 5px solid #DDD;
			  border-radius: 50%;
			  bottom: 1.5em;
			  color: #fff;
			  display: block;
			  height: 2.5em;
			  margin: 0 auto -2em;
			  position: relative;
			  width: 2.5em;
			}
			ol.progress-track li.progress-todo .icon-wrap .icon-check-mark,
			ol.progress-track li.progress-todo .icon-wrap .icon-down-arrow {
			  display: none;
			}

	.cancel_box
		height 100%
		width 100%
		position fixed
		top 0px
		left 0px
		z-index 5000
		background-color rgba(black,.5)
		display none
		>div
			text-align left
			height auto
			width 500px
			max-height 500px
			position relative
			left 50%
			top 50%
			transform translate3d(-50%,-50%,0)
			background-color white
			border-radius 5px
			box-shadow 1px 1px 5px rgba(#232323,.2)
			padding 20px
			overflow hidden
			#cancel_order
				display block
				text-align center
				button
					width 100px
					display inline-block
			input[type="email"],input[type="tel"]
				width 60%
				height auto
				margin-top 5px
				border 1px solid rgba(#232323,.4)
				padding 5px
				border-radius 5px
				box-shadow none
				
			input[type="radio"]
				float left
				margin-right 10px
			p
				margin 0px
				label
					width auto
					cursor pointer
			h3
				margin-top 0px
			h5
				border-right 0px
				display block
				text-align left
				float none
				padding 0px	
			textarea
				width 100%
				border 1px solid rgba(grey,.5)
				height 50px
				max-width 100%
				padding 10px
				border-radius 5px
				outline none
				display none
				max-height 100px
				margin-bottom 10px
			>span
				position absolute
				right 10px 
				top 10px
				cursor pointer
			button
				margin-top 10px
				border 1px solid white
				padding 10px 20px
				background-color black
				color white
				display none
				border-radius 5px
	.contactUs
		height 100%
		width 100%
		position fixed
		top 0px
		left 0px
		z-index 5000
		background-color rgba(black,.5)
		display none
		>div
			height auto
			width 500px
			max-height 500px
			position relative
			left 50%
			top 50%
			transform translate3d(-50%,-50%,0)
			background-color white
			border-radius 5px
			box-shadow 1px 1px 5px rgba(#232323,.2)
			padding 20px
			text-align center
			overflow hidden
			h3
				margin-top 0px
			h5
				border-right 0px
				display block
				text-align left
				float none
				padding 0px	
			textarea
				width 100%
				border 1px solid rgba(grey,.5)
				height 200px
				max-width 100%
				padding 10px
				border-radius 5px
				outline none
				max-height 300px
			>span
				position absolute
				right 10px 
				top 10px
				cursor pointer
			button
				margin-top 10px
				border 1px solid white
				padding 10px 20px
				background-color black
				color white
				border-radius 5px
				
				
	.trackbox
		height 100%
		width 100%
		position fixed
		top 0px
		left 0px
		z-index 5000
		background-color rgba(black,.5)
		display none
		.abr
			&:after,&:before
				content none !important
		>div
			height auto
			width 500px
			max-height 500px
			position relative
			left 50%
			top 50%
			transform translate3d(-50%,-50%,0)
			background-color white
			border-radius 5px
			box-shadow 1px 1px 5px rgba(#232323,.2)
			padding 20px
			text-align center
			overflow auto
			&:after
				content ''
				height 100%
				width 100%
				background-color white
				position absolute
				top 55px
				left 0px
			&:before
				content ''
				height 40px
				width 40px
				border 2px solid white
				border-top 2px solid black
				animation r 1s infinite ease 
				position absolute
				left 50%
				top 50%
				border-radius 50%
				margin-left -20px
				margin-top -20px
				z-index 40
			>span
				position absolute
				right 10px 
				top 10px
				cursor pointer
			table
				width 100%
				text-align center
				border-top 1px solid rgba(grey,.5)	
				.d
					color grey
					width 130px
					text-align right
				tr
					td
						line-height 40px
			h3
				margin-top 0px
		.detailedtrack
			height auto
			max-height 260px
			border-radius 5px
			width 100%
			background-color #f3f7f8
			border 1px solid rgba(grey,.5)
			padding 10px
			display table
			.legend
				height 30px
				width 100%
				display table-row
				:nth-child(2)
					border-right 1px solid rgba(grey,.5) 
				:nth-child(2)
					border-right 1px solid rgba(grey,.5)
					border-left  1px solid rgba(grey,.5)
				p
					display table-cell
					line-height 30px
					margin 0px
			.values
				display table-row
				:nth-child(2)
					border-right 1px solid rgba(grey,.5) 
				:nth-child(2)
					border-right 1px solid rgba(grey,.5)
					border-left  1px solid rgba(grey,.5)
				p
					display table-cell
					line-height 30px
					margin 0px
					border-top 1px solid rgba(grey,.5)
					
		
	#trackOrder,#contact,#inovice,.cancel_now,.return_status
		cursor pointer		
	#contact
		border-right 0px
	.order_detail
		background-color white
		padding 10px
		border-radius 5px
		margin-bottom 10px
		border 1px solid rgba(grey,.5)
	.product_details
		height auto
		width 100%
		background-color white
		border-radius 5px
		padding 10px
		border 1px solid rgba(grey,.5)
		
		hr
			background-color #ebebeb
			height 1px
			margin 10px 0px
		.item-details
			:first-child
				text-transform capitalize
			:nth-child(3)
				color rgba(red,.8)
		.cart-item
			color grey
			a
				color grey
			height 112px
			border-bottom 1px solid #ebebeb
			img
				height 100px
				width 100px
				float left
				border-radius 5px
				margin-left 10px
				margin-right 20px
	.track_and_invoice
		background-color white
		height 50px
		width 100%
		border-bottom 1px solid grey
		#trackOrder
			border-left 0px
		a
			color black
			display inline-block
		h5
			float left
			margin 15px 0px
			padding 0px 22px 
			border-right 1px solid grey
			vertical-align middle
		
	.total_price
		border-top 1px solid black
		h5
			color black
			
			
	.b_info,.buyer_info,.d_info,.p_info
		border-radius 5px
		height auto
		margin-top 20px
		float left
		table
			color grey
			width 100%
			tr
				:nth-child(2)
					text-align right
			td
				height 22px
		>div
			background-color white
			padding 5px 10px
			border-radius 5px
			height auto
			border 1px solid rgba(grey,.5)		
		td
			font-size 14px
		.p_info_box
			table 
				td
					height 33px
		.totalprice_row
			border-top 1px solid black
			color black
			:nth-child(2)
				color rgba(red,.8)
	.total_price
		:first-child
			color black


@media (max-width:770px){
	.order_detail_box .contactUs >div{
		width 100% 
	}
	.order_detail_box .track_and_invoice h5{
		padding 0px 12px
	}
	.order_detail_box .cancel_box >div{
		width 100%
	}
	.order_detail_box .return_status_box >div{
		width 100%
	}
	.order_detail_box .track_and_invoice{
		text-align center !important
	}
	
	
}

@media (max-width:600px){
	.trackbox>div{
		width 100% !important
	}
	.trackbox>div h3{
		font-size 20px
	}
	.trackbox .d{
		width 100px
	}
	.trackbox>div table tr td{
		font-size 15px
	}
	
}
@media (max-width:450px){
	.order_detail_box .col-xs-6{
		width 100%
	}
}

@keyframes r
	0%
		transform :rotateZ(0deg)
		width 40px
	100%
		transform :rotateZ(360deg)