.container-loader
     position fixed
     height 100%
     width 100%
     top 0px
     left 0px
     background-color rgba(black,0.5)
     z-index 5000


.container-loader-div
     height 100px
     width 100px
     position relative
     top 50%
     left 50%
     transform translate3d(-50%,-50%,0)
