.sign-up-box
	min-height: 100%;
	padding: 0px 20px
	display flex
	flex-direction: column
	background: url('/img/sign-up-background.png') center
	background-size: cover
	.f1
		flex:1
	.f2
		flex 2
	.sign-up-header-box
		display flex
		flex-direction: column
		justify-content:  center
		.header-text
			color white
			font-weight: bold
		.underline
			width 55px
			height: 3px
			background-color: white
	.sign-up-form-box
		.forget-password-box
			text-align: right
	.sign-up-button-box
		padding 0px 40px
	.login-text-box
		display flex
		align-items: flex-end
		justify-content: center
		.login-text
			font-size 15px
			color white
			a
				color redColor
