.login-box
	min-height: 100%;
	padding: 0px 20px
	display flex
	flex-direction: column
	background: url('/img/login-background.jpeg') center
	background-size: cover
	.f1
		flex:1
	.f2
		flex 2
	.login-header-box
		display flex
		flex-direction: column
		justify-content:  center
		.header-text
			color white
			font-weight: bold
		.underline
			width 35px
			height: 3px
			background-color: white
	.login-form-box
		.forget-password-box
			text-align: right
			.forget-password-text
				font-size: 16px
				color redColor
				cursor pointer
				&:hover
					text-decoration underline
	.login-button-box
		padding 0px 40px
	.social-login-box
		display flex
		flex-direction: column
		align-items:  center
		.login-with-text
			color white
		.social-links-box
			display flex
			width 150px
			justify-content: space-between
			.social-link
				cursor pointer
				width 50px
				height 50px
				padding: 12px
				border 1px solid rgba(grey,0.5)
				background-color: white
				border-radius 30px
				img
					width 100%
	.sign-up-text-box
		display flex
		align-items: flex-end
		justify-content: center
		.sign-up-text
			font-size 15px
			color white
			a
				color redColor
