.login-box
	text-align center
	height auto
	padding-top 50px
	padding-bottom 200px
	
	position relative
	perspective 1200px
	background url("/img/login_page_desk.jpg") cover center center

	button
			border-radius 5px
			background-color white
			border 1px solid grey
			display inline-block
			width 200px
			margin-top 10px
			height 50px
			transition .3s ease
			background-color black
			color white !important
			
			&:active:focus
				outline none
			&:focus
				outline none
	.outer-box
		display inline-block
		position relative
		text-align center
		label 
			height 30px
			margin-top 10px
			line-height 30px
			position absolute
			top 10px
			font-size 15px
			display inline
			left 7px
			color rgba(#232323,.4)
			transition .3s ease
		
		input
			height 50px
			width 350px
			border 1px solid black
			margin-top 10px
			padding-top 8px
			padding-left 10px
			border-radius 5px
			box-shadow none
			&:focus
				outline none
				border 1px solid #2396FB
			&:focus + label
				margin-top -3px
				font-size 10px
			&:valid + label
				margin-top -3px
				font-size 10px
	
.login
	height auto
	max-width 800px
	display inline-block
	border 1px solid grey
	padding-bottom 50px
	overflow hidden
	border-radius 5px
	transition .6s ease
	>:first-child
		margin-left -25px

.login1
	width 100%
	height auto
	float left
	position relative
	padding 25px 5% 0px 5%
	
	
.login2
	width  100%
	height auto
	float left
	text-align center
	a
		&:hover
			text-decoration none
	
#borderLeft 
	border-right 1px solid grey
	position absolute
	top 10%
	height 90%
	right 0px
	width 2px
	
.login1 button 
	border 1px solid black
	padding 15px 30px
	transition all 0.3s ease
	margin-top 20px
	border-radius 30px
	width 110px
	color black
	margin-left 5px
	&:hover
		background-color #2396FB
		border 1px solid #2396FB
		color White
	
.login-button
	float left
	
.sign-up-button
	float right
 
#forgot_pass
	margin-top 5px
	color white
	



.login-btn-fb
	height 50px
	width 70%
	display inline-block
	margin-top 40px
	border-radius 25px
	overflow hidden
	position relative
	transition .3s ease
	background-color #3e5599
	border 1px solid #3e5599
	color white
	font-size 20px
	text-align left
	span
		position absolute
		width 50px
		height 50px
		border-radius 50%
		right 0px
		top 0px
		background-color #4c6dab
		text-align center
		i
			line-height 50px 
	&:hover
		color black
	p
		margin-top 11px
		font-size 17px
		margin-left 29px
		
	
	
		

.login-btn-g
	height 50px
	width 70%
	border-radius 25px
	overflow hidden
	transition .3s ease
	margin-top 10px
	position relative
	display inline-block
	border 1px solid #e34836
	background-color #e34836
	font-size 20px
	text-align left
	color white
	span
		position absolute
		width 50px
		text-align center
		height 50px
		border-radius 50%
		right 0px
		top 0px
		background-color #e75f3d
		i
			line-height 50px 
	&:hover
		color black
	
	p
		margin-top 12px
		font-size 17px
		margin-left 38px
		
	
@media(max-width:990px){
	.login{
		width 100%
	}
	.login .outer-box{
		width 100%
	}
	.login-box .outer-box input{
		width 100% !important
	}
}
@media(max-width:770px){
	.login-box{
		background-image url('/img/login_page.jpg')
		background-position top center
		background-size auto 100%
		background-repeat no-repeat
	}
	.login{
		width 70%
		margin-top 35px !important
		border-width 1px
		box-shadow 2px 2px 5px white
	}
	.login :first-child{
		margin-left 0px
	}
	.login1 input{
		width 100%
	}
	.login{
		margin-top 0px
	}
	.login-box button{
		background-color rgba(black,.5)
	}
}
@media(max-width:470px){
	.login{
		width 100%
	}
	.login1 button{
		margin-left 1px
	}
	.login2{
		padding 10px
	}
	.login-btn-g,.login-btn-fb{
		margin-top 20px
		display inline-block
	}
	.login-btn-g p,.login-btn-fb p{
		font-size 15px
		margin-top 14px
		margin-left 15px
	}
	.login-btn-g div,.login-btn-fb div{
		width 26%
	}
}

@media(max-width:350px){
	.login1 button{
		width 90%
		display inline-block
		float none
	}
	.login1 form{
		margin 0px
	}
	.login-btn-g,.login-btn-fb{
		width 90%
	}
	
	.sign-up-button{ 
		margin-top 20px !important
	}
	.login{
		padding-bottom 0px
	}
}