

.home
	position relative
.category-gallery
	>div
		>div
			position absolute
			width auto !important
			height auto !important
			top 50%
			padding 0px
			left 50%
			transform translate3d(-50%,-50%,0)
			text-align center !important
			h1
				position relative
				top 160px
				font-size 70px
				text-transform: uppercase
				top 0px !important
				left 0px !important
				font-weight: 900
				text-shadow 0px 1px 1px black
				opacity 1
				margin 0px
				margin-bottom 10px
				color white
			button
				display inline-block !important
				margin 0px !important
				border 1px solid white
				padding 18px 34px
				margin 0px !important
				background-color white
				color #1a234a
				font-weight 900
				margin-top 168px
				margin-left 57px
	>:nth-child(1)
		div
			top 50%
			left 83%
	>:nth-child(2)
		div
			top 50%
			left 20%
	>:nth-child(3)
		div
			top 50%
			left 80%
	>:nth-child(4)
		div
			top 50%
			left 20%
			h1
				color #1a234a
			button
				border 1px solid #1a234a
				padding 18px 36px
				background-color #1a234a
				color #fff
				font-weight 900
				margin-top 164px
				position relative
	>div
		height auto
		position relative
		.position-right
			right 0%
			text-align right
		>div
			position absolute
			height 100%
			width 50%
			text-align left
			padding 0px 20px
			h1
				color white
	img
		width  100%

	


.categories2
	overflow auto
	:nth-child(2)
		&:before
			border-right 0px !important
			border-left 0px !important
	.div
		position relative
		background-color black
		display table-cell
		background-size 100%
		transition .2s ease
		background-position center center
		cursor pointer
		&:before
			content ''
			position absolute
			top 0px
			left 0px
			height 100%
			width 100%
			background-color transparent
			border 1px solid white
			transition .2s ease
		&:hover	
			&:before
				background-color rgba(black,.4)
			h1
				&:after
					transform scaleX(2.5)		
					background-color white
			>div
				background-color rgba(black,.5)
				
		>div
			position absolute
			height 100%
			width 100%
			top 0px
			left 0px
			transition .2s ease
			background-color rgba(black,.3)
		h1
			font-size 40px
			position absolute
			background-color  rgba(black,.8)
			z-index 300
			top 0px
			left 0px
			color white
			font-weight 100
			padding 20px
			margin 0px
			border-radius 7px
			left 50%
			top 50%
			transition all .2s ease
			transform translate3d(-50%,60%,0)
			&:after
				display inline-block
				height 4px
				border-radius 50px
				position absolute
				bottom 15px
				transition .2s ease
				left 50%
				margin-left -10px
				width 20px
				background-color transparent
		img
			height auto
			width 100%
			z-index 100
			opacity 0
			margin 0px 
			display inline-block

.remove
	height 30px
	width 30px
	position absolute
	top 10px
	cursor pointer
	right 10px
	background-color transparent
	:nth-child(1)
		transform rotate(45deg)
	:nth-child(2)
		transform rotate(-45deg)
	>div
		height 2px
		width 20px
		position absolute
		top 50%
		left 50%
		margin-left -10px	
		background-color white
		z-index 1200



				
.cate-column-1 a span:hover h3
	margin-left 65px

// .cate-column-1:hover div
// 	right 0%
	

	

.cate-column-2
	background url("/img/about-us.jpg") no-repeat center center
	
	h1
		margin-left 20px
		transition all .6s ease
	>div
		height 100%
		width 100%
		position absolute
		background-color rgba(black,.5)
		left 100%
		transition left .6s ease
		a
			&:hover
				text-decoration none
		h3
			color white
			text-align right
			margin-right 50px
			line-height 100px
			transition margin .6s ease
			
			
.cate-column-2 a span:hover h3
	margin-right 65px	

.cover_image
	width 100%
	height auto
	overflow hidden
	position relative
	
.cate-column-2:hover div
	left 0%
			
.upper-cate-remove
	display none

.upper-open
	background-color transparent
	position absolute
	color white
	left 20px
	top 40%
	transition all .6s ease
	font-size 50px
	
.lower-open
	background-color transparent
	position absolute
	color white
	right 20px
	top 40%
	transition all .6s ease
	font-size 50px

.lower-close
	width 100px
	height 100%
	background-color transparent
	position absolute
	left 0px
	top 40%	
	span
		font-size 50px
		color white
.lower-text,.upper-text
	text-shadow 1px 1px 10px black
	span
		font-size 40px
		display inline-block
		position relative
		top -15px

#myCarousel
	display none
	
@media(max-width:420px){
	#myCarousel{
		display block
	}
}



			

@media screen and (max-width:1200px){
	.categories2 h1{
		font-size 35px !important
	}
	.slideshow .heading h1{
		font-size 50px !important
	}
	.slideshow .heading button{
		padding 10px 25px !important
		font-size 14px !important
	}
	.aleft,.aright{
		font-size 30px !important
	}
}

@media screen and (max-width:1000px){
	.categories2 h1{
		font-size 26px !important
		padding 25px 0px !important
	}
	.categories2 .div h1:after{
		height 2px !important
	}
	.categories2 .div:hover h1:after{
		transform scaleX(1.8) !important
	}
	.slideshow .heading h1{
		font-size 45px !important
	}
	.slideshow .heading button{
		padding 10px 25px !important
		font-size 14px !important
	}
	.aleft,.aright{
		font-size 30px !important
	}
	
}

@media(max-width:768px){
	.category-gallery > div >div{
		padding 0px
		word-wrap normal
	}
	.category-gallery-detail-box{
		height 65px
	}
	.category-gallery > div >div h1{
		font-size 20px !important
		margin-bottom 10px !important
	}
	.category-gallery > div >div button{
		padding 0px !important
		width 70px
		height 30px
	}
	.upper-cate-remove{
			display block
		}
	.slideshow .heading{
		top 0%
		left -10%
		width 50%
		text-align center
		transform translate3d(-0%,-0%,0)
	}
	.slideshow .a2 .heading{
		left auto
		right -30px 
	}
	.slideshow .heading h1{
		font-size: 35px !important;
	    margin-top: -5px !important;
	    top: -70px !important;
	    font-weight 900 !important
	    left: -124px !important;
	}
	.slideshow .a2 .heading h1{
	    left: 128px !important;
	}
	.slideshow .a2 .heading h1 span{
	    margin-right 0px !important
	}
	.slideshow .a2 button{
		margin-top -22px !important
    	margin-right -7px !important
    }
	.slideshow .heading button{
		padding 5px 13px !important
		font-size 12px !important
		top 22px
		left -5px
	}
	.slideshow .a2 .heading button{
		position relative
		top 20px
	}
	.aleft,.aright{
		font-size 30px !important
	}
	.about-us h2{
	font-size 25px
	}
	.about-us-inner h4{
	font-size 15px !important
	}
	.about-us-inner{
		width 100% !important
	}

	.cate{
		width 100% !important
		height 200px
		
	}
	.cate-column-1 >div h3{
		line-height 40px
		font-size 17px
	}
	.cate-column-1 h1{
		font-size 30px
		line-height 230px
		margin-top -10px
	}
	.cate-column-2 h1{
		font-size 30px
		line-height 230px
		margin-top -10px
	}
	.cate-column-2 h1 span{
		font-size 30px
		line-height 230px
		margin-top -10px
		position relative
		top 0px
	}
	.cate-column-1:hover h1{
		margin-right -300px
	}
	
}


@media(max-width:768px){
	.categories2 h1{
		font-size 25px !important
		padding 25px 0px !important
	}
	.alert_div{
		left 0%
		width 100%
	}
	.alert_div .alert{
		left 0%
		width 100%
		text-align center
	}
}

@media(max-width:555px){
	.categories2 h1{
		font-size 22px !important
		padding 25px 0px !important
	}
	.categories2 .div:hover h1:after{
		transform scaleX(1.2) !important
	}
	
	
	
	.aleft,.right{
		font-size 25px !important
	}
	.about-us{
		padding  25px !important
	}
}



@media(max-width:460px){
	.categories2{
		margin-bottom -35px
	}
	
	.categories2 .div h1:after{
		height 2px !important
	}
	.categories2 .div:hover h1:after{
		transform scaleX(0.5) !important
	}
	.categories2 h1{
		font-size 20px !important
		padding 7px 0px !important
		width 100%
		top auto !important
		width 100% 
		border 1px solid white !important
		background-color #4997d0 !important
		border-radius 5px
		height 35px
		transform translate3d(-50%,0,0) !important
		
	}
	.categories2 h1:after{
		opacity 0
	}
	.aleft,.aright{
		font-size 16px !important
	}
	
}

