.image-slideshow-mobile
	display none

.buy-now
	width 100%
	height 50px
	text-align center
	background-color #ff8d68
	position fixed
	bottom 0px
	left 0px
	p
		margin 0px
		color white
		font-size 18px
		font-weight 900		
		line-height 50px
.quicklook
	.articles-left
		text-align center
		color orangered
		font-weight 900
	.col-left
		width 100%
		height 50px
	.col-right
		width 100%
		height 85px
		position relative
		margin 25px 0px
		.select-size
			width 100%
			height 80px
			h3
				font-size 18px
				font-weight bold
				margin-top 0px
				display inline-block
			h4
				display inline-block
				float right
			>div
				width 100%
				height 50px
				position relative
				&:after
					content 'Out of Stock'
					position absolute
					top 0px
					left 0px
					height 100%
					width 100%
					border-radius 5px
					font-size 20px
					color black
					display none
					text-align center
					line-height 48px
					background-color rgba(grey,.5)
				>:last-child
					border-bottom-right-radius 5px
					border-top-right-radius 5px
				>:first-child
					border-top-left-radius 5px
					border-bottom-left-radius 5px
					
				>div
					width 25%
					cursor pointer
					border 1px solid rgb(200,200,200)
					height 100%
					transition .6s ease
					float left
					text-align center
					position relative
					p
						margin 0px
						line-height 46px
						font-size 19px
						
					span
						position absolute
						height 100%
						display none
						width 1px
						background-color grey
						left 50%
						top 0px
						transform rotate(45deg)
		
		.size-guide
			position fixed
			height 100%
			width 100%
			left 0px
			top 0px
			display none
			background-color rgba(black,.6)
			z-index 6000
			>div
				height auto
				box-shadow 2px 2px 5px black
				border-radius 5px
				padding 5px
				text-align center
				position relative
				background-color white
				width 95%
				top 50%
				left 50%
				transform translate3d(-50%,-50%,0)
				background-color white
				max-width 500px
				span
					position absolute
					font-size 18px
					top 10px
					right 10px
				table
					width 100%
					margin-top 20px
					margin-bottom 10px
					.border-bottom
						padding 5px
						border-bottom 1px solid rgba(0,0,0,0.2)
						border-right 1px solid black
					.border-bottom2
						padding 5px 
						border-bottom 1px solid rgba(0,0,0,0.2)
					.border-right
						border-right 1px solid black
						border-bottom 1px solid black
					.border-right2
						padding 5px
						border-right 1px solid black
						
		.outOfStock
			background-color rgb(220,220,220)
			pointer-events none
			span
				display block !important
			p 
				color grey
		.selected
			background-color black
			border-color black !important
			p
				color white
		.total-stockout
			&:after
				display block !important	
		
	.inner-box
		height auto
		width 100%
		z-index 300
		overflow hidden	
		h4
			margin 0px
		.colorname
			font-size 25px
			margin-top 7px
			position relative
			text-transform capitalize
			top 4px
			color grey 
	.qboxleft
		overflow hidden
	.display-image-box,.display-image-box-mobile
		overflow hidden
		border-radius 5px
		position relative
		height 60%
		min-height 400px
		width 80%
		display inline-block
		margin-bottom 30px
		cursor crosshair
		text-align center
		.sale
			height 50px
			width 100px
			background-color black
			position absolute
			z-index 800
			border-radius 5px
			top 0px
			right 0px
			opacity .8
			p
				line-height 50px
				font-size 20px
				letter-spacing 1px
				color white	

	.p_heading
		margin-bottom 20px
		margin-top 0px
		font-size 80px
		text-transform capitalize
	.price-outer
		height 60px
		margin-top 30px	
	.price
		float left
		margin 0px
		.cutted-price
			color rgba(grey,.5)
			text-decoration line-through
			font-size 18px


	.color-link
		&:hover
			text-decoration none
		.color
			height 22px
			width 18px
			border 1px solid grey
			border-radius 5px
			display inline-block
			position relative 
			vertical-align	text-top
			top 3px
			overflow hidden
			margin-left 5px
			>div
				position absolute
				width 50%
				height 100%
				top 0px
				left 0%
				background-color blue
	.border
		width 100%
		height 1px 
		background-color grey
		margin 20px 0px
		
	.share_icons
		height 100%
		width auto
		float right
		h4
			display inline-block
		i
			font-size 20px
			margin-left 10px
			cursor pointer
			&:hover
				transform scale(1.2)
	.color_div
		height 100%
		display inline-block
		h4
			display inline-block
			vertical-align	text-top
		
	.stock-info
		margin 0px
		text-align right
		
	.sample_images
		text-align right
		img
			cursor pointer
		:first-child
			margin-top 30px

	.sample
		width 60%
		margin-bottom 10px
		display inline-block
		background-size cover
		background-position center center
		border-radius 5px

	.sample_images_sm
		text-align center
		position relative
		img	
			width 24%

		
		:first-child	
			margin-top 0px
	.img1
		position relative
		div
			height 100%
			width 100%
			border 1px solid orange
			position absolute
			border-radius 5px
			transition all .6s ease
			left 0%
			margin-left 0px

	.invalid_input 
		border-color grey !important
		background-color black !important
		h3
			color white !important

	.product-share
		margin-bottom 30px !important
		img
			width 30px
			height 30px
			margin-right 5px
			display inline
			
	.qboxright
		.col-lg-6
			height 110px

	.qboxright .dropdown
		float left
		margin-left 88px
		button
			width 150%
			border-radius 0px
			
	.qboxright .select-quantity
		width 130px !important
		float right
	.qboxright .select-dropdown 
		background-color #f4f4f4
		height 40px
		display inline-block
		width 50px
		border 1px solid grey
		border-radius 5px
		padding 1%
		margin 0px
		cursor pointer
		position relative
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
		h4
			position absolute
			top 50%
			transform translateY(-50%)
			left 10px
			margin 0px
		.glyphicon
			font-size 10px
			position absolute
			right 8px
			top 50%
			transform translateY(-50%)
	
	.qboxright .select-options
		height auto
		overflow-y auto
		height auto
		border-radius 5px	
		width 100% !important
		left 0px
		top 100%
		&:hover
			display block !important
		div
			height auto
			background-color white
			width 100%
			text-align center
			line-height 40px
			border 1px solid grey
			border-radius 5px
			cursor pointer
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			user-select: none;
			&:hover
				background-color black
				color white
				display block !important

	.size-options
		width 150px !important	
		position absolute
		top 40px
		z-index 300
	.quantity-options
		width 130px !important	
		position absolute
		top 40px
		right 0px
		z-index 300
	.show
		display block

	.red
		border 1px solid red !important
		background-color rgba(red,.1)
		color red
		span
			font-size 12px !important

	.size_error
		color grey
		height 0px
		margin-top 180px
	.added
		color #1593d4 !important
	.add-to-wishlist
		height 60px
		width 20%
		float left
		transition .6s ease
		border 1px solid black
		background-color black
		border-radius 5px
		border-left 1px solid grey
		border-bottom-left-radius 0px
		border-top-left-radius 0px
		color white
		position relative
		&:after
			content ''
			position absolute
			height 33px
			width 33px
			background-color transparent
			border-radius 50%
			border 2px solid #4997d0
			border-top-color transparent 
			top 50%
			display none
			left 50%
			margin-left -16px
			margin-top -16px
		>svg
			position absolute
			font-size 20px
			top 50%
			left 50%
			transform translate3d(-50%,-50%,0)
	.rotate-loading
		>span
			display none
		&:after
			display block
			animation rotate-loading 1.3s ease infinite	
	.placeorder
		width 80%
		height 60px
		float left
		border 1px solid black !important
		display inline-block
		border-radius 5px
		background-color black	
		transition all .6s ease
		border-bottom-right-radius 0px
		border-top-right-radius 0px
		&:hover
			background-color black
			cursor pointer
			h3
				color white
		h3
			margin 0px
			transition all .6s ease
			color white	
			line-height 60px
			
	.product-info
		width 100%
		// border-top 1px solid grey
		float left
		margin-top 30px
		text-align left
		text-align center
		z-index 10px
		p,li
			letter-spacing 1px
			word-spacing 1px
			font-size 14px !important
		.content
			height 200px
			margin-top -1px
			margin-bottom 50px
			table
				width 100%
				font-size 14px
				tr
					width 50%
			.a1,.a2,.a3
				overflow-x auto
				padding 10px
				text-align left
				border-radius 5px
				border 1px solid black
				background-color #f7f7f7
				height 100%
				width 100%
				ul
					font-size 16px
					font-weight 900
			.a2
				padding-top 20px
			.hidden
				display none
		.tabs
			display flex
			justify-content space-evenly
			font-size 14px
			position relative
			margin-top 1px
			>:nth-child(1)
				margin-top 9px
			>div
				height 30px
				letter-spacing 1px
				padding 7px 20px 5px !important
				margin-top 10px
				position relative
				border-radius 0px
				span
					height 100%
					width 100%
					background-color transparent
					display block
					position absolute
					top 0px
					left 0px
					&:before,&:after
						content ''
						background-color transparent
						position absolute
						top 10px
						right -26px
						height 0px
						width 0px
						border-top 0px solid transparent
						border-right 10px solid transparent
						border-left 10px solid transparent
						border-bottom 20px solid transparent
					&:after
						left -26px
						right auto
				&:before,&:after
					content ''
					background-color transparent
					position absolute
					top 0px
					right -17px
					height 30px
					width 30px
					border-radius 50%	
					background-color transparent
					// border-top 0px solid transparent
					// border-right 30px solid transparent
					// border-left 30px solid transparent
					// border-bottom 30px solid transparent
					z-index -1
				&:after
					right auto
					left -17px
			.on
				border-radius 5px
				border-bottom-left-radius 0px
				border-bottom-right-radius 0px
				background-color transparent
				background-image url('/img/tab.svg')
				background-size 100% 100%
				background-repeat no-repeat
				color white
				&:before,&:after
					border-bottom 30px solid transparent
				span
					&:before,&:after
						border-bottom 20px solid transparent
				
			>div
				padding 10px
				cursor pointer
		
	.product-info ::-webkit-scrollbar,
	.product-info ::-webkit-scrollbar {
	  width: 5px;
	}
	.product-info ::-webkit-scrollbar-track,
	.product-info ::-webkit-scrollbar-track {
	  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
	  -webkit-border-radius: 0px;
	  border-radius: 0px;
	}
	.product-info ::-webkit-scrollbar-thumb,
	.product-info ::-webkit-scrollbar-thumb {
	  -webkit-border-radius: 10px;
	  border-radius: 0px;
	  background: rgba(0,0,0,0.5);
	  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
	}
	.product-info ::-webkit-scrollbar-thumb:window-inactive,
	.product-info ::-webkit-scrollbar-thumb:window-inactive {
	  background: rgba(0,0,0,0.8);
	}
	
	.points
		margin 20px 0px			
		p
			margin 0px
			font-weight 900
			color black
			font-size 14px
			display inline-block
		svg
			margin-right 10px
			display inline-block
	.mobile-details
		padding-bottom 20px
		>:first-child
			border-top 1px solid rgba(grey,.5)
		>div
			width 100%
			border 1px solid rgba(grey,.5)
			border-top 0px
			padding 15px 10px
			p
				font-weight 900
			.content
				margin-left 10px
				max-height 0px
				transition .6s ease
				overflow hidden
				p
					font-size 14px
				>:first-child
					margin-top 10px
				span
					color grey
					font-weight 900
					text-decoration underline
				ul
					list-style-type none
					margin-left -10px
					li
						span
							color black !important
							text-decoration none
					p
						color black
						display inline-block
						margin-left 10px
						font-weight 900
		>div>p
			font-size 16px 
			font-weight bold
			display inline-block
			margin 0px
		>div>span
			float right
			margin-top 4px
		.max-height
			max-height 300px !important
				
	

	.mobile-share
		margin-top 40px
		text-align center
		margin-bottom 20px
		border 1px solid rgba(black,.5)
		padding 10px
		border-radius 5px
		div
			margin 10px auto	
		p
			font-size 23px
			text-transform uppercase
			font-weight 900	
			margin 0px
			margin-top -28px
			background-color rgb(246,246,246)
			display inline-block
			padding 0px 10px
		img
			width 40px
			margin 0px 30px

	.showcase-box
		height 600px
		background-color black
		background-size cover
		margin-top 70px
		padding 50px
		overflow hidden
		>:nth-child(1)
			width 70%
			height 100%
			float left
			// background-image url('/img/showcase.jpg')
			background-size cover
			background-position center top
		>:nth-child(2)
			height 100%
			width 30%
			float left
			position relative
			padding 20px 10px 30px 0px
			margin-left -100px
			>div
				padding 10px
				height auto	
				position relative
				top 50%
				transform translateY(-50%)
				width auto
				background-color rgba(white,.9)
				h1
					font-size 50px
					color black
				h3
					color black
					font-size 20px
					width 80%
					font-weight 100
					letter-spacing 1px

	.photo
		position absolute
		height 100%
		width 100%
		top 0px
		left 0px
		background-repeat no-repeat
		background-position center
		background-size cover
		transition transform .5s ease-out
	
	.display-image-box-mobile
		// height 60%
		min-height 10%
		span
			display block
			position absolute
			width 50px 
			height 100%
			z-index 400
			top 0px
			color white
			&:before
				position absolute
				top 50%
				font-size 20px
				left 50%
				transform translate3d(-50%,-50%,0)
		.left-arrow
			left 0px
			background: linear-gradient(to right, rgba(grey,.5) , transparent);
		.right-arrow
			background: linear-gradient(to left, rgba(grey,.5) , transparent);
			right 0px
		.photo
			position relative
			height auto
			top 0px
			left -100%
			overflow auto
			transition transform .5s ease-out
			img
				float left
				transition .6s ease




	 @media screen and (max-width:1200px) {
	   .showcase-box h1{
	   	font-size 40px !important
	   }
	   .showcase-box h3{
	   	letter-spacing 0px !important
	   	width 100% !important
	   	height auto !important
	   }
	}

	@media screen and (max-width: 1000px){
		
		.showcase-box h1{
	   	font-size 30px !important
	   }
		.showcase-box h3{
	   	font-size 16px !important
	   }
	}

	 @media screen and (max-width:770px) {
	 	.col-left{
	 		height 60px
	 	}
	 	.col-right{
	 		height 90px
	 	}
	 	.qboxright{
	 		background-color rgb(246,246,246)
	 		padding-top 10px
	 	}
	 	.price{
	 		text-align center
	 		float none 
	 		font-size 22px !important
	 		// font-weight 900
	 		margin-bottom 20px
	 	}
	 	.display-image-box{
	 		pointer-events none
	 		border-radius 0px
	 	}
	 	.showcase-box{
			padding 0px !important
			height 300px !important
			position relative !important
		}
	 	.showcase-box >:nth-child(1){
	 		width 100% !important
	 	}
	 	.showcase-box >:nth-child(2){
	 		position absolute !important
	 		width 50% !important
	 	}
	 	.showcase-box >:nth-child(2)>div{
	 		left 50% !important
	 	}
	 	.showcase-box h1{
	   	font-size 25px !important
	   }
		.showcase-box h3{
	   	font-size 14px !important
	   }
	   .p_heading {
	   	font-size 30px
	   	// font-weight 900
	   }
	   .sale{
	    height 50px !important
	    width 80px !important
	    margin-right 1px
	  }
	  .sale p {
	    font-size 18px !important
	    line-height 48px !important
	  }
	  .color_div {
	  	width 100%
	  }
	  .color-link .color{
	  	height 37px !important
	  	width 33px !important
	  }
	  .color_div h4 {
	  	font-weight 900
	  	font-size 18px !important
	  }
	}


	@media screen and (max-width: 535px){
		.qboxright .select-quantity{
			width 40% !important
		}
		
		.qboxright .quantity-options{
			width 40% !important
		}
	 .qboxright .select-options {
	 	margin-left 0px !important
	 }
	 .display-image-box{
	 	width 100% !important
	 }
	 .display-image-box-mobile{
	 	width 100% !important
	 }
	}
	@media screen and (max-width: 460px){
		.qboxleft{
			padding 0px
		}	
		.stock-info{
	    font-size 18px !important
	  }
	  .color_div,.share_icons{
	  	height 60px !important
	  }
	  .color_div h4{
		font-size 18px
	  }
	  .share_icons h4{
		display none
	  }
	  .qboxright >:nth-child(4){
	  	margin-top 20px !important
	  	margin-bottom 20px !important
	  }
		.showcase-box >:nth-child(2){
	 		width 100% !important
	 		height 100% !important
	 		padding 0px 40px !important
	 		margin-left 0px !important
	 	}
	 	.showcase-box >:nth-child(2) >div{
	 		width value
	 		left 0px !important
	 	}
		.size_error{
			margin-top 140px !important
		}
	}

	.about-us-quicklook 
		height auto  
		background-color black
		background-size cover  
		text-align left
		background-size cover
		overflow hidden
		border 1px solid white
		border-top 0px
		img
			width auto
			height 450px
			display inline-block
			opacity 1
	.about-us-quicklook
		>div
			width 50%
			max-height 450px
			height auto
			float left
	.about-us-quicklook h4 
		line-height 25px
	.about-us-quicklook-outer
		// background url('/img/ab.jpg') no-repeat center center
		background-size cover
	.about-us-quicklook-inner
		position relative
		margin-top 50px
		left 50%
		transform translateX(-50%)
		width 80%
		h2,h3
			color white
		h2
			font-weight 100
			font-size 50px
			margin-top 0px
		h4
			color white
			font-size 15px
			letter-spacing 1px
			font-weight 100

	.about-us-quicklook button 
		background-color transparent
		border 1px solid white
		padding 15px 30px
		transition all 0.6s ease
		margin-top 50px
		border-radius 5px
		color white

	.about-us-quicklook button:hover 
		background-color white
		color black

	@media screen and (max-width:1000px) {
	  .about-us-quicklook-inner{
	    width 80% !important
	    margin-top 30px !important
	    padding-bottom 20px !important
	  }
	  .about-us-quicklook-inner h2{
	    font-size 40px !important
	  }
	  .about-us-quicklook-inner h4{
	    font-size 15px !important
	  }
	  .about-us-quicklook-inner button{
	    margin-top 20px !important
	  }
	}
	@media (max-width:768px) {
	.image-slideshow-mobile {
		display block
	}
	.image-slideshow-desktop {
		display none
	}
	
	  .quicklook .points p {
	  	font-size 18px !important
	  }
	  .about-us-quicklook-outer{
	    // background url('/img/ab.jpg') no-repeat top center
	    background-size contain
	  }
	  .about-us-quicklook  img{
	  	height auto !important
	  	width 100% !important
	  }
	  .about-us-quicklook{
	  	text-align center !important
	  }
	}
	@media (max-width: 680px) {
	  .about-us-quicklook{
	    height auto
	  }
	  .about-us-quicklook>div{
	    width 100%
	    height auto
	  }
	}
	@media(max-width:460px) {
	  .about-us-quicklook-inner{
	    text-align justify !important
	  }
	  .about-us-quicklook button{
	    margin-left 50%
	    transform translateX(-50%)
	    margin-top 10px !important
	    padding 10px 20px !important
	    
	  }
	  .about-us-quicklook-inner h2{
	    font-size 30px !important
	    text-align center !important
	  }
	   .about-us-quicklook-inner h4{
	    font-size 14px !important
	    margin-bottom 0px !important
	  }
	}



@keyframes rotate-loading
	from {
		transform rotate(0deg)
	}
	to {
		transform rotate(360deg)
	}


		

