.subscribe {
  padding: 100px 0px;
  text-align: center;
  background-image: linear-gradient(90deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 100%), url("/img/checking-phone.jpg");
  background-position: center;
  background-size: cover;
}
.subscribe .subscribe-inner {
  position: relative;
}
.subscribe .subscribe-inner .hero-heading {
  height: 80px;
  overflow: hidden;
}
.subscribe h1 {
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  margin: 0px;
  font-size: 37px;
  position: relative;
  display: inline-block;
  margin-top: -80px;
}
@media screen and (max-width: 770px) {
  .subscribe h1 {
    width: 95%;
    font-size: 30px;
  }
}
.subscribe h1 .moving-line {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  border: 1px solid #fff;
  height: 3px;
  width: 100px;
  opacity: 0;
  transition: 2s ease;
  background-color: #fff;
  border-radius: 50px;
}
.subscribe h4 {
  color: #fff;
  font-weight: 100;
  display: inline-block;
  width: 500px;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-size: 20px;
  margin: 50px 0px;
  text-transform: capitalize;
}
@media screen and (max-width: 770px) {
  .subscribe h4 {
    width: 90%;
    font-size: 16px;
  }
}
.subscribe .subscribe-form {
  width: 100%;
  margin-top: 10px;
  input: -webkit-autofill,;
}
.subscribe .subscribe-form >.email-box,
.subscribe .subscribe-form >.phone-box {
  display: table;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  width: 350px;
}
@media screen and (max-width: 770px) {
  .subscribe .subscribe-form >.email-box,
  .subscribe .subscribe-form >.phone-box {
    width: 300px;
  }
}
.subscribe .subscribe-form .subscribe-message {
  height: 0px;
  margin-top: 30px;
  transition: 0.6s ease;
  overflow: hidden;
}
.subscribe .subscribe-form .move-up {
  height: 30px;
}
.subscribe .subscribe-form p {
  font-size: 20px;
  text-transform: capitalize;
  margin: 0px;
  display: inline-block;
}
.subscribe .subscribe-form input {
  border: 1px solid transparent;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  width: 350px;
  padding: 10px;
  margin-bottom: 40px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  outline: none;
}
.subscribe .subscribe-form input:focus + label {
  top: -10px;
  color: #808080;
}

input:-webkit-autofill {
    background-color: transparent !important;
}

.subscribe .subscribe-form input:valid + label {
  color: #808080;
  top: -10px;
}
@media screen and (max-width: 770px) {
  .subscribe .subscribe-form input {
    width: 300px;
  }
}
.subscribe .subscribe-form button {
  width 80%;
  border: 1px solid #f00;
  background-color: #f00;
  padding: 14px 70px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 20px;
  border-radius: 50px;
  transition: 0.6s ease;
  outline: none;
  letter-spacing: 2px;
}
.subscribe .subscribe-form button:hover {
  color: #000;
  background-color: #fff;
}
.subscribe .subscribe-form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 9999s;
  transition-delay: 9999s;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.subscribe label {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 100;
  position: absolute;
  top: 10px;
  left: 10px;
  transition: 0.6s ease;
}
.error {
  color: #f00;
}
.success {
  color: #008000;
}
.animate-hero-text {
  animation: hero-text 1s ease forwards;
}
.animate-hero-text span {
  animation: moving-line 0.6s 1s ease forwards;
}
.thank-you {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2000;
  height: 100%;
  width: 100%;
  transform: translateY(-100%);
  padding: 10px;
  background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("/img/bg1.jpg");
  background-size: cover;
  background-position: center center;
}
.thank-you .thank-you-inner {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  text-align: center;
  border: 1px solid rgba(255,255,255,0.7);
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.5);
}
.thank-you .thank-you-inner .info-box h1 {
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  margin: 0px;
  font-size: 37px;
  position: relative;
  display: inline-block;
}
@media screen and (max-width: 770px) {
  .thank-you .thank-you-inner .info-box h1 {
    width: 95%;
    font-size: 50px;
  }
}
.thank-you .thank-you-inner .info-box h4 {
  color: #fff;
  font-weight: 100;
  display: inline-block;
  width: 500px;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-size: 20px;
  margin: 20px 0px 50px 0px;
  text-transform: capitalize;
}
@media screen and (max-width: 770px) {
  .thank-you .thank-you-inner .info-box h4 {
    width: 90%;
    font-size: 16px;
  }
}
.thank-you .thank-you-inner .info-box p {
  margin: 0px;
  color: #fff;
  margin-top: 10px;
  text-transform: capitalize;
  font-size: 13px;
}
.thank-you .thank-you-inner .info-box button {
  border: 1px solid #f00;
  background-color: #f00;
  padding: 14px 70px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 20px;
  border-radius: 50px;
  transition: 0.6s ease;
  outline: none;
  position: relative;
  letter-spacing: 2px;
}
.thank-you .thank-you-inner .info-box button:after {
  content: '';
  position: absolute;
  right: 10px;
  top: 50%;
  border-radius: 50px;
  margin-top: -17px;
  border: 2px solid #fff;
  height: 35px;
  width: 35px;
  animation: rotate 1s ease infinite;
  border-bottom-color: transparent;
  display: none;
}
.thank-you .thank-you-inner .info-box button:hover:after {
  display: block;
}
.thank-you .thank-you-inner .info-box >:last-child {
  margin-top: 30px;
  text-decoration: underline;
  font-size: 12px;
}
.thank-you .thank-you-inner .share-box h3 {
  text-transform: uppercase;
  color: #fff;
  margin-top: 50px;
}
.thank-you .thank-you-inner .share-box div img {
  width: 40px;
  margin: 10px;
}
@-moz-keyframes hero-text {
  0% {
    margin-top: -80px;
  }
  100% {
    margin-top: 0px;
  }
}
@-webkit-keyframes hero-text {
  0% {
    margin-top: -80px;
  }
  100% {
    margin-top: 0px;
  }
}
@-o-keyframes hero-text {
  0% {
    margin-top: -80px;
  }
  100% {
    margin-top: 0px;
  }
}
@keyframes hero-text {
  0% {
    margin-top: -80px;
  }
  100% {
    margin-top: 0px;
  }
}
@-moz-keyframes moving-line {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes moving-line {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes moving-line {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes moving-line {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

    


