.privacypolicy h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 40px 0px;
    font-weight: 600;
}

.privacypolicy p {
    word-spacing: 1px;
    font-size: 17px;
}

.privacypolicy {
    margin-bottom: 100px;
}

.privacypolicy li {
     font-size: 15px
}