.sidecart_mobile
	height 100%
	max-height 100%
	width 70%
	position fixed
	display none
	top 0px
	transition right .4s ease
	right -70%
	opacity 1
	z-index 2005
	transition .4s ease
	text-align center
	overflow-y auto
	background-color rgba(#f3f7f8,1)
	.m_checkout_button
		background-color white !important
		border-bottom 0px !important
		padding 14px
		height 68px !important
		a
			&:hover
				text-decoration none
		h3
			background-color black
			margin-top 2px
	.heading,.footer
		width 100%
		text-align center
		display block
		margin 0px
		height 40px
		background-color black
		color white
		border-bottom 1px solid grey
		h3
			font-size 20px
			margin-top 2px
			margin 0px
			line-height 40px
			color white
	.footer
		border-top 1px solid grey
		border-bottom 0px
	.sidecart-content-box-mobile
		background-color white
		height auto
		width 100%
		h4
			margin 0px
			padding 10px 0px
	.sidecart-content
		position relative
		transition .6s ease
		overflow hidden
		padding 14px 10px 10px 10px
		height 100px
		text-align left
		border-top 1px solid grey
		.remove-product
			position absolute
			top 5px 
			right 5px
			font-size 15px
			color rgba(black,.8)
		img
			height 70px
			width 70px
			float left
			border-radius 50%
			margin-right 10px
		h4
			margin 0px
			padding-top 5px
			font-size 12px
			padding-bottom 0px
		h5
			color black
			font-weight 100 	
			font-size 12px	
			margin-top 5px
			margin-bottom 5px
	.sidecart-total
		>:first-child
			background-color white
			border-top 1px solid grey
			h3
				text-decoration none !important
			:first-child
				color black
				float left
				margin-left 10px
			:last-child
				float right
				margin-right 10px
			
.sidecart_mobile_right
	right 0%

@media(max-width:767px) {
	.sidecart_mobile{
		display block
	}
}