.contact_us
	height auto
	padding-bottom  100px
	border-bottom 1px solid rgba(grey,.5)
	.own_address
		margin-top 20px
		padding 20px 40px
		display inline-block
		background-color rgba(grey,.1)
		border 1px solid rgba(grey,.5)
		text-align left
		span
			color grey
			width 70px
			display inline-block
	.form_box
		border-right 2px solid black
		height auto
		text-align center
		.name
			input
				width 200px
		.outer-box
			display inline-block
			position relative
			text-align center
		label 
			height 30px
			margin-top 10px
			line-height 30px
			position absolute
			top 10px
			display inline
			left 10px
			color rgba(#232323,.4)
			transition .3s ease
		textarea
			width 400px
			height 150px
			max-width 400px
			max-height 200px
			padding 10px
			border-radius 5px
			border 1px solid rgba(#232323,.4)
			margin-top 10px
			&:focus
				outline 0px
		
		input,select
			height 50px
			width 400px
			border 1px solid rgba(#232323,.4)
			margin-top 10px
			padding-top 8px
			padding-left 10px
			border-radius 5px
			box-shadow none
			&:focus
				outline none
				border 1px solid rgba(#232323,.4)
				box-shadow 1px 1px 5px rgba(#232323,.4)
			&:focus + label
				margin-top -0px
				font-size 10px
			&:valid + label
				margin-top -0px
				font-size 10px
		button
			width 200px
			border-radius 5px
			margin-top 10px
			height 40px
			transition .6s ease
			background-color white
			border 1px solid black
			display inline-block
			color black
			&:hover
				background-color black
				color white
				


@media (max-width:1000px){
	.contact_us .form_box .outer-box{
		width 100%
	}
	.contact_us .form_box input {
		width 100% !important
	}
	.contact_us textarea{
		width 100% !important
	}

}
@media (max-width:770px){
	.contact_us .form_box{
		border-right 0px !important
		border-bottom 1px solid rgba(grey,.5)
	}
	.contact_us .form_box .outer-box{
		width 100%
		max-width 250px
		display block
		position relative
		left 50%
		transform translateX(-50%) 
	}
	.contact_us .form_box input {
		width 100%
		max-width 280px !important
	}
	.contact_us textarea{
		width 100%
		max-width 280px !important
	}
	.contact_us button{
		margin-bottom 50px
	}

}
@media (max-width:450px){
	.contact_us .own_address{
		padding 10px
	}
}