.checkout-page
	min-height: 100%
	background-color: #F0F0F0
	text-align: center
	display flex
	flex-direction: column
	padding: 15px 0px
	align-items: center
	justify-content: space-between
	.checkout-upper
		flex 1
		width 100%
		.checkout_heading
			font-size: 30px
			font-weight: bold
			margin: 0px
		.steppoints-outer
			width 100%
			display flex
			justify-content: space-around
			padding 10px 0px
			border-radius: 5px
			.singlepoint-outer
				display flex
				flex-direction: column
				align-items: center
				.singlepoint
					height 30px
					width 30px
					border-radius: 18px
					border 1px solid rgba(grey,0.4)
					text-align: center
					display flex
					align-items: center
					justify-content: center
					.singlepoint-number
						margin 0px
						color rgba(grey,0.4)
				.singlepoint-label
					margin 5px 0px
					font-size: 10px
					color rgba(grey,1)
				.singlepoint-done
					background-color: #6AC259
					border-color: #6AC259
				.singlepoint-current
					background-color: #2091EB
					border-color: #2091EB
					.singlepoint-number
						margin 0px
						color white
	.checkout-middle
		flex 2
		width 80%
		text-align: left 
		.order-total-box
			margin-bottom 25px
			.order-summary-box
				.order-summary-details-box
					height 0px
					overflow hidden
					transition:  .6s ease
					padding-top 10px
					.order-summary-detail-single
						display flex
						justify-content: space-between
						p
							color grey
				.order-summary-details-box-open
					height 110px
				.order-summary-box-title
					display flex
					align-items: center
					justify-content: space-between
					.order-summary-box-title-text
						font-size: 12px
						margin 0px
						margin-right: 10px
		.order-total-price
			font-size 15px
			color grey
		.side-button
			width: 40%
		.current-step-heading
			font-size: 25px
			font-weight: bold
		.delivery-type-box
			padding: 20px
			span
				font-size: 15px
			.delivery-type-heading
				font-weight bold
				font-size 20px
			.deliver-to-address
				margin-left 20px
				font-size: 14px
				color grey

	.checkout-lower
		width 50%
		flex 1

