.black_overflow_div
	position fixed
	top 0px
	left 0px
	height 100%
	width 100%
	z-index 300
	background-color rgba(black,.5)
	overflow hidden
	display none
	div
		position relative
		left 50%
		top 50%
		text-align center
		transform translate3d(-50%,-50%,0)
		&:after
			content ''
			height 40px
			width 40px
			background-color transparent
			border 3px solid transparent
			border-top-color white
			border-radius 50%
			position absolute
			display inline-block
			left 50%
			top 50%
			margin-left -20px
			margin-top 25px
			animation rotate 1s .4s infinite !important 
			
		h2
			color white

.checkout-page
	height auto
	padding-bottom 100px
	.disabled-button
		pointer-events none
		background-color rgba(grey,.4) !important
		border-color rgba(grey,.4) !important
		
	.login_box_checkout
		width 400px
		display inline-block
		.login-btn-fb,.login-btn-g
			width 100%
			text-align center
			p
				margin-left -25px
		.login-button
			border-radius 100px
			width 100%
			margin-top 20px
			text-align center
			color white
			outline none
			&:hover,&:active,&:focus
				color black
				background-color #2396FB
		#sign_up_text
			cursor pointer
		#login_form,#sign_up_form
			display none
		.outer-box
			margin-top 10px
			z-index 200
		.log-in-button,.sign-up-button
			margin-top 10px
			float none
		.log-in-button
			width 100%
		#forgot_pass
			color #2396fb
	.login-details
		padding 10px
		border-radius 5px
	.billing-details
		padding 10px
	.billing-form
		text-align center
	.select_address
		display inline-block
		width 300px
		border 1px solid #2396FB
		margin 10px auto
		border-radius 5px
		height 50px
		position relative
		background-color #2396FB
		cursor pointer
		overflow hidden
		h4
			line-height 25px
			color white
	
	.show_addresses,.show_p_to_p_box
		display none
		height 100%
		width 100%
		position fixed
		top 0px
		left 0px
		z-index 1200
		background-color rgba(black,.8)	
		.adresses_box,.p_to_p_box
			height auto
			width 600px
			display inline-block
			position absolute
			box-shadow 2px 2px 12px black
			top 50%
			left 50%
			transform translate3d(-50%,-50%,0)
			background-color white
			border-radius 5px
			text-align center
			span
				font-size 20px
				position absolute 
				top 0px
				right 0px
				cursor pointer
				margin 10px 10px 0px 0px
				&:hover
					color red
			.address-details
				text-align left
				min-height 170px
				word-wrap break-word
				width 240px
				cursor pointer
				margin 15px
				float none
				border 1px solid grey
				padding 10px
				display inline-block
				position relative
				margin-bottom 30px
				margin-right 20px
				border-radius 5px
				&:hover
					border 1px solid black
	.show_p_to_p_box
		display block 
		.p_to_p_box
			animation scale .3s ease forwards
		.payment_methods
			padding 20px
			div,#paytm
				height 50px
				width 80%
				border-radius 25px
				border 1px solid grey
				margin 10px auto
				cursor pointer
				background-color white !important
				&:hover
					background-color black
					h3
						color white
				h3
					margin 0px
					line-height 50px
				
		.p_to_p_box
			width 400px
			margin-left -200px
	#p_to_paypal
		height 50px
		cursor pointer
			
	.login-form
		>button
			border-radius 5px
			background-color white
			border 1px solid grey
			display inline-block
			width 200px
			margin-top 10px
			height 50px
			transition .3s ease
			&:hover
				background-color black
				h4
					color white
	.outer-box
			display inline-block
			position relative
			text-align center
		.alert_text
			text-align center
			color red
		.info_text
			color green
			text-align left
			
		label 
			height 30px
			margin-top 10px
			line-height 30px
			position absolute
			top 10px
			display inline
			left 10px
			color rgba(#232323,.4)
			transition .3s ease
			word-spacing 1px
			letter-spacing 1px
		
		input,select
			height 50px
			width 400px
			border 1px solid rgba(black,.5)
			margin-top 10px
			padding-top 8px
			padding-left 10px
			background-color white
			border-radius 5px
			box-shadow none
			&:focus
				outline none
				border 1px solid #2396FB
			&:focus + label
				margin-top -0px
				font-size 10px
			&:valid + label
				margin-top -0px
				font-size 10px
			&:read-only + label
				margin-top -0px
				font-size 10px
		.pincode
			position relative
			#pincode_check,#b_pincode_check
				position absolute
				right 0px
				top 0px
				height 50px
				width 100px
				color black
				background-color transparent
				transition .3s ease
				border 0px !important
				&:hover
					background-color black
					color white	
				
					
		.checkbox
			width 400px
			height 50px
		#checkbox
			width 20px
			height 20px
			position absolute
			left 25px
			border 2px solid black
			display inline-block
			&:focus
				outline none
				border none
				box-shadow none
				
		.select
			label
				margin-top -0px
				font-size 10px
				 	
				

		#country,#state,#delivery_address,#b_country,#b_state
			width 200px
				
		.name 
			input
				width 200px	
	#billing_box
		display none
		margin-bottom 10px
	#delivery_address
		padding-top 0px
	
	
	.o_heading
		margin-top 25px
	.cart-total
		height auto
		width 80%
		display inline-block
		padding 10px
		margin-top 15px
		border 1px solid rgba(black,.5)
		border-radius 5px	
		.delivery_type
			width 100%
			border-radius 5px
			height auto
			display inline-block
			border 1px solid rgba(#232323,.4)
			margin-top 5px
			padding 5px 10px
			h5
				color rgba(#232323,.8)
			:nth-child(3)
				margin-bottom 5px
			
		.coupon_price,.subtotal_price,.shipping_price,.total_price,.express_type,.standard_type
			width 100%
			height 50px
			display inline-block
			margin-top 5px
			padding 5px 10px
			:nth-child(1)
				float left
			:nth-child(2)
				float right
		.total_price
			border 1px solid #2396FB
			border-radius 5px
			background-color #2396FB
			h4
				color white
		.express_type,.standard_type
			border-radius 5px
			margin-top 2px
			cursor pointer
			&:hover
				background-color black
				h4
					color white
		.selected
			border-radius 5px
			background-color black
			h4
				color white
		

	#p_to_p
		margin-top 70px
	button
		width 300px
		height 50px
		display inline-block
		background-color #2396FB
		margin-top 10px
		border-radius 5px
		border 1px solid #2396FB
		overflow hidden
		transition .6s ease
		position relative
		outline none
		&:active
			outline 5px 
		h4
			color white
			
	.p_to_p_box
		width 400px
	.p_to_p_loading
		height 50px !important
		width 50px !important
		background-color white !important
		h4
			color white !important
		border-radius 25px !important
		border 4px solid rgba(blue,.2) !important
		border-top 4px solid #2396FB !important
		animation rotate 1s .4s infinite !important 
		outline none
		:active
			outline 0px !important
		&:hover
			background-color white !important
			h4
				color white !important
			&::after
				opacity 0
		
@keyframes rotate {
	0%{transform :rotate(0deg)}
	100%{transform :rotate(360deg)}
}

.apply_coupon_box
	text-align center
	margin-top 15px
	border-radius 5px
	display inline-block
	width 400px
	padding 10px 0px
	position relative
	.coupon
		height 50px
		width 100%
		border 0px
	label
		position absolute
		top 0px
		left 12px
		color rgba(#232323,.4)
		transition .3s ease
	input
		margin-top 0px
		border 1px solid rgba(black,.5)
		background-color white
		height 100%
		width 400px
		outline none
		padding 1px 0px 0px 10px 
		&:focus
			box-shadow none
			border 1px solid #2396FB
		&:focus + label
			top 0px
			font-size 10px
		&:read-only + label
			top 0px
			font-size 10px
		&:valid + label
			top 0px
			font-size 10px
	button
		background-color transparent
		width 19%
		height 100%
		border-radius 5px
		transition .3s ease
		top 0px
		right 0px
		border 0px
		margin-top 0px
		position absolute
		&:hover
			background-color #2396FB
			h5
				color white
	span 
		position absolute
		line-height 50px
		right 4%
		cursor pointer
.checkout_heading
	color #303f9f
.payment_div
	a
		color white			
.payment
	text-align center
	border 1px solid transparent
	margin-top 15px
	border-radius 5px
	display inline-block
	button
		background-color transparent
	h3
		color white
	.p_box
		height auto
		overflow hidden
		width 100%
		display inline-block
		border-radius 5px
		margin-top 10px
		text-align center
		transition .6s ease
		.p_method
			height 50px
			width 400px
			position relative
			border 1px solid rgba(black,.5)
			margin-top 10px
			margin-bottom 10px
			background-color white
			border-radius 5px
			display inline-block
			font-size 18px
			line-height 50px
			overflow hidden
			cursor pointer
			span
				font-size 14px
			&:hover
				background-color #2396FB
				border-color #2396FB
				color white
	.o_box
		height auto
		width 500px
		display inline-block
		border-radius 5px
		margin 10px
		border 1px solid grey 
		border-top 4px solid black
		padding 10px
		text-align center

.after
	background-color #2396FB !important
	color white 
	border-color #2396FB !important
		
#billing_form 
	.select_country
		border 1px solid rgba(black,.5)
		border-radius 5px
		background-color white
		outline none
		height 50px
		width 200px
		position relative
		width 200px
		font-family 'Barlow Semi Condensed', sans-serif
		letter-spacing 1px
		font-size 14px
		text-transform capitalize
	.select_country_label
		font-size 14px
		height 0px
		position absolute
		letter-spacing 1px
		left 11px
		top 28px
		opacity .8
		font-family 'Barlow Semi Condensed', sans-serif
	.dropdown-box
		position absolute
		top 62px
		overflow hidden
		z-index 400
		left 0px
		text-align left
		background-color white
		width 200px
		border-radius 5px
		border 1px solid grey
		display none
	.dropdown
		padding 5px 
		background-color white
		border-bottom 1px solid grey 
		font-size 15px 
		z-index 400 
		cursor pointer 
	.active-tab
		background-color black
		color white




@keyframes scale
	0%
		transform :scale(1.6)
		opacity :0
	100%
		transform :scale(1)
		opacity :1

@media (max-width:770px) {
	.adresses_box{
		width 90% !important
	}
	.adresses_box h2{
		font-size 25px !important
	}
	.checkout-page .alert_text{
		text-align center !important
	}
	#p_to_paypal{
		margin-top 50px
	}
	
}

@media (max-width:460px) {
	.login_box_checkout{
		width 100% !important
	}
	.apply_coupon_box input{
		width 100%
	}
	.checkout-page .billing-details{
		padding 0px
	}
	.checkout-page k.name input {
		width 400px !important
	}
	.checkout-page .outer-box{
		width 100%
	}
	.checkout-page .outer-box input {
		width 100% !important
	}
	#checkbox{
		width 20px !important
	}
	.checkbox h4{
		margin-left 20px
	}
	#p_to_p{
		width 260px
	}
	.select_address{
		width 100% !important
	}
	.checkout-page .cart-total{
		width 100%
	}
	.payment{
		width 100%
	} 
	.p_method{
		width 100% !important
	}
	.apply_coupon_box{
		width 100%
	}
}
