.bottom-bar-text
     position fixed
     height: 40px
     width: 100%
     background: black
     display flex
     justify-content: center
     align-items center
     bottom 0
     left 0
     .message
          position absolute
          top 50%
          left 50%
          transform translate3d(-50%,-50%,0) 
          color white
          font-size: 15px
          margin 0px
          width 80%
          text-align: center
          user-select: none
     a
          color red
     p
          margin 0px
     .whatsapp-icon
          height 15px
          vertical-align: bottom

.fadeInAnimation
     animation: fadeIn 1s forwards 
     z-index: 1000

.fadeOutAnimation
     animation: fadeOut 1s forwards 


@media(max-width:767px) {
	.header-message-box{
		display block
	}
}

@keyframes fadeIn {
     0%{
          opacity 0
     }
     100%{
          opacity 1     
     }
}

@keyframes fadeOut {
     0%{
          opacity 1
     }
     100%{
          opacity 0     
     }
}