
.sample-tiles-gallery
  display none

.out-of-stock-pop-up
  position fixed
  height 100%
  width 100%
  top 0px
  left 0px
  background-color rgba(black,.7)
  z-index 5000
  display none
  div
    width 80%
    background-color white
    left 50%
    top 50%
    position relative
    transform translate3d(-50%,-50%,0)
    padding 10px
    text-align center
    overflow auto
    border-radius 5px
    box-shadow 2px 2px 5px rgba(black,.5)
    span
      display inline-block
      height 2px
      width 20px
      background-color black
      margin 10px
    h3
      margin 0px
    h4
      margin 0px
    p
      position absolute
      color grey
      bottom 10px
      left 10px
      margin 0px
      font-size 12px
    button
      border 1px solid #29B6F6
      background-color #29B6F6
      border-radius 5px
      padding 5px 30px
      color white
      float right
      margin-top 20px
      box-shadow 2px 2px 5px rgba(grey,.5)
      

.out-of-stock-cover
  height 100%
  width 100%
  position absolute
  top 0px
  left 0px
  background-color rgba(grey,.7)
  border-radius 5px  
  .line-through
    // background-color white
    // margin-left -1px
    // transform rotate(45deg)
    position absolute
    left 50%
    top 50%
    transform translate3d(-50%,-50%,0)
    z-index 500
    border 2px solid white
    p
      color white
      display inline-block
      font-size 20px
      width 110px
      margin 0px
      padding 5px
      
      
.sample-tiles
  text-align center
  >:nth-child(1)
      // animation placeHolderShimmer 1.5s linear forwards infinite;
      background: #f6f7f8;
      background: linear-gradient(to right, #eeeeee 8%, #dddddd 50%, #eeeeee 33%);
      background-size: 800px 104px;
      height 80% !important
  >:nth-child(2)
    span
      width 65%
      height 17px
      border-radius 50px
      display inline-block
      animation placeHolderShimmer 1.5s linear forwards infinite;
      background: #f6f7f8;
      background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
      background-size: 800px 104px;
  >:nth-child(3)
    span
      margin-top 5px
      width 50%
      height 17px
      border-radius 50px
      display inline-block
      animation placeHolderShimmer 1.5s linear forwards infinite;
      background: #f6f7f8;
      background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
      background-size: 800px 104px;
.best-seller-main
  text-align center
  .colorname
    margin-top 0px
    position relative
    color #808080
    top 4px
    font-size 16px
  .sort_by_box
    height 50px
    width 205px
    margin-bottom 20px
    margin-left 20px
    text-align left
    padding 5px
    h4
      display inline
      margin-right 10px
      float left
    .sort_by
      position relative
      width 125px
      border 1px solid black
      height 90%
      margin-top 2px
      float right
      display inline-block
      border-radius 2px
      padding 5px
      h4
        margin 0px
        line-height 25px
      span
        float right
        line-height 25px
      .options
        height auto
        width 100%
        position absolute
        top 100%
        left 0px
        z-index 500
        display none
        &:hover
          display block
        :nth-child(4)
          border-bottom 1px solid black
        div
          height 40px
          width 100%
          background-color white
          border 1px solid black
          border-bottom 0px
          padding 5px
          cursor pointer
          line-height 25px
          text-align center
          color black
          font-size 15px
          &:hover
            background-color black
            color white



.gallery-logo
  height 150px
  text-align center
  .container
    :nth-child(1)
      animation move2 .6s ease
  .cat_heading
    font-size 35px
    display block
    border-radius 5px
    padding 10px
    margin-bottom 20px
    transition .6s ease
    img
      height 34px

    
@keyframes move {
  0%{margin-left:100px;
    opacity:0}
  100%{margin-left:0px;
      opacity:1}
}
@keyframes move2 {
  0%{margin-left:-100px;
    opacity:0}
  100%{margin-left:0px;
      opacity:1}
}

@keyframes fade {
  0%{
    opacity:0}
  100%{
      opacity:1}
}

.tiles 
  float left
  height 450px
  a
    color black
    cursor pointer
    &:hover
      text-decoration none

  
.display-image-box
  animation fade .6s forwards
  
  

.best-seller-main .u-tile 
  height auto
  width 100%
  overflow hidden
  border-radius 5px
  margin-bottom 5px
  position relative
  cursor pointer
  .sale_info
    height 40px
    width 80px
    background-color rgba(black,.8)
    position absolute
    right 0px
    top 0px
    border-radius 5px
    p
      line-height 40px
      font-size 18px
      color white
  &:hover
    .add_to_cart_bar
      height 50px
  .add_to_cart_bar
    height 4px 
    width 100%
    background-color rgba(black,.8)
    position absolute
    left 0px
    bottom 0px
    transition all .6s ease
    overflow hidden
    .select_size_bar
      height 100%
      width 100%
      background-color black
      left -100%
      position absolute
      transition all .6s
      opacity 0
      cursor default
      z-index 400
    .select_size_bar_selected
      left 0%
      opacity 1
      .add_to_cart
        position relative
        p
          text-transform uppercase
          position absolute
          left 50%
          top 50%
          transform translate3d(-50%,-50%,0)
      .outOfStock
        pointer-events none
        background-color rgba(red,.8)
        &:hover
          background-color rgba(red,.8)
          color white
      
      div
          height 40px
          width 40px
          margin 5px 
          cursor pointer
          display inline-block
          border-radius 50%
          border 1px solid white
          color white
          font-size 18px
          line-height 40px
          &:hover
            background-color white
            color black
    
    .add_to_cart_button
      height 100%
      width 50%
      left 0%
      border-top 4px solid #4997D0 
      position absolute
      transition all .6s
      &:hover
        background-color white
      p
        color #4997D0 
        font-size 20px
        line-height 50px
        text-align center
    .add_to_cart_button_left
      left 50%
    .add_to_wishlist_button
      height 100%
      width 50%
      left 50%
      border-top 4px solid #4997D0 
      position absolute
      text-align center
      transition all .6s
      &:hover
        background-color white
      span
        color #4997D0 
        font-size 25px
        line-height 50px
        text-align center
        display inline
    .add_to_wishlist_button_left
      left 100%
    .add_to_wishlist_bar
      height 100%
      width 100%
      transition all .6s ease
      left 100%
      background-color black
      position absolute
      opacity 0
      p
        color #4997D0 
        font-size 20px
        line-height 50px
        text-align center
        
.cutted_price   
  color grey
  text-decoration line-through
      
  
.u-tile img 
  height auto
  width 100%
  transition all 0.6s ease


.gallery-main
  display inline-block
  text-align center
  width 100%



@media(max-width:770px){
  .sample-tiles-gallery{
    display none
  }
  .sample-tiles >:nth-child(1){
    height 200px !important
  }
  .gallery-logo{
    height auto
    margin-bottom 20px
  }
  .gallery-logo .underline{
    width 50px
  }
  .cat_heading{
    font-size 40px !important
    margin 20px 0px !important 
    margin-top 30px !important
    background-color transparent !important
    color #4997D0  !important
    font-weight 900 !important
    letter-spacing 2px !important
  }
  .cat_heading img{
    height 20px !important
  }

  .best-seller-main .col-xs-12{
    width 50%
  }
  .add_to_cart_bar{
    display none
  }
  .sale_info{
    height 35px !important
    width 60px !important
  }
  .best-seller-main .u-tile {
    border-radius 2px
  }
  .sale_info p {
    font-size 15px !important
    line-height 35px !important
  }
  .tiles{
    height auto !important
    min-height 290px !important
  }
  .tiles{
    box-shadow: 2px 2px 10px rgba(grey,.5);
    width: 80%;
    display: inline-block;
    float: initial;
    padding: 5px;
    margin-bottom : 20px;
    border-radius: 5px;
    transition:.6s ease
  }
}
@media(max-width:450px){
  .best-seller-main .col-xs-12{
    width 90%
  }
  .gallery-logo .underline{
    width 30px
  }
  .cat_heading{
    font-size 30px !important
    
  }
  
  
}

 @media screen and (max-width:770px) and (orientation:landscape) {
   .tiles{
      height auto !important
      min-height 290px !important
    }

}



@keyframes placeHolderShimmer {
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}