.from-bottom-animation
	animation: rise-up 1s cubic-bezier(0.26, 0.54, 0.32, 1) 0.7s forwards;
.fade-in-animation
	animation: fade-in 1s cubic-bezier(0.26, 0.54, 0.32, 1) 0.7s forwards;
.zoom-out-animation 
	animation: zoom-out cubic-bezier(0.26, 0.54, 0.32, 1) 0.7s forwards;

@keyframes rise-up {
	0%{
		opacity 0
		margin-top -20px
	}
	100%{
		opacity 1
		margin-top 0px
	}
}

@keyframes zoom-out {
	0%{
		opacity 0
		transform scale(1.5)
	}
	100%{
		opacity 1
		transform scale(1)
	}
}

@keyframes fade-in {
	0%{
		opacity 0
	}
	100%{
		opacity 1
	}
}