.select-country-outer
	position fixed
	height 100%
	width 100%
	top 0px
	left 0px
	background-color rgba(black,.6)
	z-index 6000
	display none
	.select-country
		background-color #f7f7f7
	>div
		height auto
		width 500px
		border-radius 5px
		position relative
		left 50%
		top 50%
		transform translate3d(-50%,-50%,0)
		background-color white
		padding 10px 50px 20px
		span
			position absolute
			top 10px
			right 10px
			
		>div
			border-radius 5px
			height 400px
			width 100%
			border 1px solid rgba(grey,.5)
			padding 10px
			overflow auto
			div
				width 100%
				height 50px
				padding 5px 10px
				line-height 38px
				margin-bottom 5px
				border-radius 5px
				font-size 20px
				cursor pointer
				transition .3s ease
				border 1px solid rgba(grey,.5)
				&:hover
					background-color rgba(#4997d0,.5)
					border 1px solid rgba(#4997d0,.5)
					color black
				p
					float left
				img
					height 70%
					float right
					margin-top 5px

.region-select-outer
	position fixed
	top 0px
	left 0px
	background-color rgba(black,.5)
	height 100%
	width 100%
	z-index 5000
	.worldmap
		height 100px
	>div
		width 500px
		height auto
		position relative
		top 50%
		left 50%
		background-color white
		border-radius 5px
		transform translate3d(-50%,-50%,0)
		padding 10px 
		>span
			position absolute 
			right 20px 
			top 20px
		.inner-box
			width 70%
			display block
			height auto
			display inline-block
		>div
			text-align center
			p
				margin-bottom 40px
				font-size 25px
			span
				>div 
					width 100%
					height 50px
					:nth-child(1)
						text-align left
						float left
						img
							margin-right 10px
					:nth-child(2)
						text-align right
						float right
						img
							margin-left 10px
					div
						margin 0px
						cursor pointer
						display inline-block
						text-align left
						padding 5px
						border-radius 4px
						&:hover
							box-shadow 1px 1px 5px grey
						h3
							display inline-block
							vertical-align middle
							margin 0px
							color grey
							font-size 20px
						img
							width 30px
							margin-right 10px
							display inline-block
		button
			width 100px
			height 50px
			border 1px solid grey
			color white
			margin-top 20px
			letter-spacing 1px
			font-size 23px
			p
				float left
				line-height 50px
				margin 0px
				font-size 20px
				margin-left 20px
			>img
				height 70%
				margin-top 7px
				width auto
				float right
		.region-outside
			>img
				margin-right 6px






@media(max-width:767px) {
     .select-country-outer >div >div div{
		font-size 11px !important
	}
	.select-country-inner {
		width 85% !important
		border-radius 10px !important
		padding 10px 20px 20px !important
	}
	.select-country-inner h2{
		margin 20px 0px
	}
	.region-select{
		width 90% !important
		height auto !important
		border-radius 10px !important
	}
	.region-select>div{
		margin-bottom 60px !important
	}
	.region-select-outer >div >div h2{
		margin-bottom 20px !important
	}
	.region-select-outer >div >div h3{
		font-size 18px !important
	}
	.region-select-outer .inner-box{
		width 90% !important
	}
	.region-select-outer .worldmap{
		height 80px !important
	}
	.region-select p{
		font-size 16px !important
		margin-left 4px !important
	}
	.region-select h2{
		font-size 25px !important
	}
	.region-select button{
		width 70% !important
	}
     }